/*
Color Scheme
Green and Pink https://www.schemecolor.com/green-and-pink-color-scheme.php

font-family: 'Tajawal', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Abril Fatface', cursive;
*/

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.home-background {
    position: fixed;
    z-index: -1;
    transform: rotate(90deg) translate(0%, 25%);
    filter: sepia(15%) contrast(90%) brightness(.5);
    object-fit: cover;
    width: auto;
    height: 100vw;
}

@media screen and (max-width: 428px) {
    .home-background {
        height: 90vh;
    }
}

.font-extra-small {
    font-size: .8rem;
}

.font-small {
    font-size: 1rem;
}

h2 {
    color: white;
    font-size: 2rem;
    font-family: 'Gloock', 'serif';
}

p {
    color: #234843;
    font-size: 1rem;
    font-family: 'Tajawal', sans-serif;
}


@media screen and (min-width: 1441px) {
    .font-extra-small {
        font-size: 1.2rem;
    }

    .font-small {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .font-extra-small {
        font-size: 1.6rem;
    }

    .font-small {
        font-size: 2rem;
    }

    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 2rem;
    }
}

.hide {
    display: none !important;
}

/*NAVBAR STARTS HERE*/
.nav-header {
    z-index: 4;
    display: grid;
    grid-template-columns: auto 5rem;
    width: 100%;
}

.site-name-logo {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .15rem;
    margin: 0 auto;
    padding: 0 0 0 5rem;
    width: 100%;
    height: 5rem;
    background-color: #E9A8A5;
}

.site-name-logo .logo {
    filter: invert(20%) sepia(16%) saturate(1348%) hue-rotate(122deg) brightness(100%) contrast(85%);
    object-fit: cover;
    margin: 0 auto;
    width: 1.8rem;
    height: .8rem;
}

.site-name-logo a {
    font-size: 1.25rem;
    color: #234843 !important;
    font-family: "Averia Serif Libre", serif;
    text-decoration: none;
    line-height: 1.25rem;
    white-space: nowrap;
}

@media screen and (max-width: 428px) {
    .nav-header {
        position: fixed;
        top: 0;
    }
}

@media screen and (min-width: 1441px) {
    .nav-header {
        grid-template-columns: auto 7.5rem;
    }

    .site-name-logo {
        height: 7.5rem;
        gap: .225rem;
        padding: 0 0 0 7.5rem;
    }

    .site-name-logo .logo {
        width: 2.7rem;
        height: 1.2rem;
    }

    .site-name-logo a {
        font-size: 1.875rem;
        line-height: 1.875rem;
    }
}

@media screen and (min-width: 1921px) {
    .nav-header {
        grid-template-columns: auto 10rem;
    }

    .site-name-logo {
        gap: .3rem;
        height: 10rem;
        padding: 0 0 0 10rem;
    }

    .site-name-logo .logo {
        width: 3.6rem;
        height: 1.6rem;
    }

    .site-name-logo a {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .navbar-link {
        font-size: 4rem;
    }
}

.navbar {
    grid-column: 1/3;
    z-index: 3;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    background-color: white;
}

.navbar-item {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 6rem;
    height: 100%;
    background-color: white;
    color: '#173935';
    text-decoration: 'none';
    text-align: 'center';
    font-family: 'Tajawal', 'sans-serif';
}

.navbar-item:active {
    cursor: pointer;
}

.site-name-logo .navbar-item {
    background-color: #E8908F;
}

@media screen and (min-width: 1441px) {
    .navbar {
        height: 3.75rem;
    }

    .navbar-item {
        width: 9rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .navbar {
        height: 5rem;
    }

    .navbar-item {
        width: 12rem;
        font-size: 2rem;
    }
}

.cart-link {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    word-spacing: 10px;
    white-space: nowrap;
}


.cart-counter-container {
    display: flex;
    width: 1.75rem;
}

.fa-cart-shopping {
    margin: 0;
    font-size: 1.25rem;
}

.cart-counter {
    border-radius: 50%;
    margin: -.3rem 0 0 -.5rem;
    padding: 5% 0 0 2%;
    width: .75rem;
    height: .75rem;
    background-color: white;
    font-size: .5rem;
    font-weight: bold;
    line-height: .7rem;
}

@media screen and (max-width: 428px) {
    .nav-header {
        grid-template-columns: 100%;
    }

    .cart-link {
        position: fixed;
        filter: drop-shadow(0px 0px 5px rgb(255, 255, 255, 0.5));
        right: 0;
        bottom: 5%;
        z-index: 4;
        border-radius: 50%;
        margin: 0 5% 0 0;
        width: 3rem;
        height: 3rem;
        background-color: #E8908F;
    }

    .cart-counter-container {
        margin: 10% 0 0 0;
    }

    .site-name-logo {
        width: 1/2;
        padding: 0;
    }

    .navbar-filler,
    .navbar-link {
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .cart-link {
        word-spacing: 15px;
    }

    .cart-counter-container {
        width: 2.625rem;
    }

    .fa-cart-shopping {
        font-size: 1.875rem;
    }

    .cart-counter {
        margin: -.45rem 0 0 -.75rem;
        height: 1.25rem;
        width: 1.25rem;
        font-size: .75rem;
        line-height: 1.05rem;
    }
}

@media screen and (min-width: 1921px) {
    .cart-link {
        word-spacing: 20px;
    }

    .cart-counter-container {
        width: 3.5rem;
    }

    .fa-cart-shopping {
        font-size: 2.5rem;
    }

    .cart-counter {
        margin: -.6rem 0 0 -1rem;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

.dropdown-btn {
    height: 2.5rem;
    border: none;
    font-family: 'Tajawal', 'sans-serif';
    color: #173935;
}

.dropdown-active {
    background-color: #E9EDEC;
}

.dropdown-btn i {
    margin: 0 0 0 1rem;
    font-size: .5rem;
}

.shop-dropdown {
    z-index: 2;
    display: none;
    flex-direction: column;
    gap: 0;
    transition: all 1s;
    width: 10rem;
    padding: 1rem 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    background-color: white;
}

.show-dropdown {
    display: flex;
}

.shop-dropdown a {
    height: 2.5rem;
    padding: 0 0 0 2rem;
    line-height: 2.5rem;
    font-family: 'Tajawal', 'sans-serif';
    color: #234843;
    font-size: 1rem;
    text-decoration: none;
}

.shop-dropdown a:hover {
    background-color: #E9EDEC;
    cursor: pointer;
}

@media screen and (min-width: 1441px) {
    .about-link {
        height: 3.75rem;
    }

    .dropdown-btn {
        height: 3.75rem;
    }

    .dropdown-btn i {
        margin: 0 0 0 1.5rem;
        font-size: .75rem;
    }

    .shop-dropdown {
        width: 15rem;
        padding: 1.5rem 0;
    }

    .shop-dropdown a {
        height: 3.75rem;
        padding: 0 0 0 3rem;
        font-size: 1.5rem;
        line-height: 3.75rem;
    }
}

@media screen and (min-width: 1921px) {
    .about-link {
        height: 5rem;
    }

    .dropdown-btn {
        height: 5rem;
    }

    .dropdown-btn i {
        margin: 0 0 0 2rem;
        font-size: 1rem;
    }

    .shop-dropdown {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 20rem;
        padding: 2rem 0;
    }

    .shop-dropdown a {
        height: 5rem;
        padding: 0 0 0 4rem;
        font-size: 2rem;
        line-height: 5rem;
    }
}

/*NAVBAR ENDS HERE*/

/*HAMBURGER MENU STARTS HERE*/
.hamburger-menu {
    position: fixed;
    z-index: 4;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0% 5% 0 0;
    height: 5rem;
    padding: 0;
}

.show-hamburger-menu-container {
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.hamburger-menu-container {
    position: fixed;
    z-index: 4;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #E9A8A5;
}

.hamburger-button {
    align-self: flex-end;
    width: auto;
    height: 4rem;
    border: none;
    padding: 0 4%;
    color: white;
    background-color: rgb(0, 0, 0, 0);
}

.menu-icon {
    margin: 0;
    font-size: 1.5rem;
}

.hamburger-menu-items {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    margin: 20% 0 auto 0;
    width: 100%;
}

.hamburger-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: 1rem;
}

@media screen and (max-width: 376px) {
    .hamburger-link {
        height: 4rem;
    }
}

@media screen and (min-width: 429px) {
    .hamburger-menu {
        display: none;
    }
}

.menu-fade-in {
    animation: fadeIn .25s;
    -webkit-animation: fadeIn .25s;
    -moz-animation: fadeIn .25s;
    -o-animation: fadeIn .25s;
    -ms-animation: fadeIn .25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-fade-out {
    animation: fadeOut .25s;
    -webkit-animation: fadeOut .25s;
    -moz-animation: fadeOut .25s;
    -o-animation: fadeOut .25s;
    -ms-animation: fadeOut .25s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*HAMBURGER MENU ENDS HERE*/

/**********HOME PAGE STARTS HERE**********/
/*HERO SECTION STARTS HERE*/
.hero {
    display: flex;
    width: 100%;
    height: auto;
}

.hero-headline {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 75vh;
    padding: 20vh 10vw 10vh 10vw;
    box-sizing: border-box;
}

h1 {
    text-align: left;
    font-size: 3rem;
    color: white;
    font-family: 'Gloock', 'serif';
}

.hero-headline p {
    font-family: 'Tajawal', sans-serif;
    color: white;
}

@media screen and (max-width: 768px) {
    .hero-headline {
        width: 100%;
    }
}

@media screen and (max-width: 428px) {
    .hero {
        margin: 7.5rem 0 0 0;
    }

    .hero-headline {
        top: 7.5rem;
        height: 22.5rem;
    }

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .logo {
        margin: 0 0 0 1rem;
    }
}

@media screen and (min-width: 1441px) {
    .hero-headline {
        top: 9rem;
    }

    h1 {
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .logo {
        width: 8rem;
        height: 6rem;
        margin: 0 0 0 5rem;
    }

    h1 {
        font-size: 6rem;
    }

    .hero-headline {
        top: 12rem;
    }

    .hero-headline p {
        font-size: 2rem;
    }
}

.hero-image-container {
    object-fit: cover;
    width: 100%;
    min-height: 75vh;
    margin: 0;
}

.hero-image {
    position: absolute;
    object-fit: cover;
    filter: sepia(15%) contrast(90%) brightness(.5);
    width: 100vw;
    height: 75vh;
}

.social-media-hero {
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    padding: 0;
}

.social-media-hero a i {
    cursor: pointer;
    color: white;
}

.social-media-hero a i:hover {
    text-decoration: none;
    color: #E9A8A5;
}

@media screen and (max-width: 428px) {
    .hero-image-container {
        height: 22.5rem;
        min-height: initial;
    }

    .hero-image {
        height: 22.5rem;
        min-height: initial;
    }
}


@media screen and (min-width: 1441px) {
    .social-media-hero a i {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .social-media-hero a i {
        font-size: 2rem;
    }
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*HERO SECTION ENDS HERE*/

/*BESTSELLERS STARTS HERE*/
.bestsellers {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vh 0 15vh 0;
    box-sizing: border-box;
    background-color: white;
}

.bestsellers .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5% auto 2.5% auto;
}

.bestsellers .section-header h2 {
    align-self: flex-end;
    height: 100%;
    margin: auto 0 0 0;
    font-size: 2rem;
    font-family: 'Gloock', serif;
    color: #234843;
}

.bestsellers a {
    height: 100%;
    font-family: 'Gloock', serif;
    color: #234843;
    text-decoration: underline;
}

.bestsellers a:hover {
    color: #3D6347;
}

@media screen and (max-width: 768px) {
    .bestsellers-header {
        width: 85%;
        margin: 0 5% 0 5%;
    }

    .bestsellers-header h3 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1441px) {
    .bestsellers {
        min-height: 30rem;
    }

    .bestsellers .section-header h2 {
        font-size: 3rem;
    }

    .bestsellers a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .bestsellers {
        min-height: 40rem;
    }

    .bestsellers .section-header h2 {
        font-size: 4rem;
    }

    .bestsellers a {
        font-size: 2rem;
    }
}

.bestseller-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.bestseller-card {
    display: flex;
    flex-direction: column;
    gap: auto;
    justify-content: space-between;
    aspect-ratio: 1 / 1.25;
    width: 22%;
    font-family: 'Gloock', serif;
}

.bestseller-card img {
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 80%;
    font-family: 'Gloock', serif;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    height: auto;
    padding: .5rem 0;
}

.card-info p {
    height: 1.25rem;
    margin: auto 0;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .bestseller-cards {
        gap: auto;
    }

    .bestseller-card {
        width: 45%;
    }

}

@media screen and (max-width: 428px) {
    .card-info p {
        margin: 0;
    }
}

@media screen and (min-width: 1441px) {
    .bestseller-cards {
        gap: 1.5rem;
        row-gap: 3rem;
    }

    .card-info {
        gap: .75rem;
        padding: .75rem 0;
    }

    .card-info p {
        height: 1.875rem;
    }
}

@media screen and (min-width: 1921px) {
    .bestseller-cards {
        gap: 2rem;
        row-gap: 4rem;
    }

    .card-info {
        gap: 1rem;
        padding: 1rem 0;
    }

    .card-info p {
        height: 2.5rem;
    }
}

/*BESTSELLERS ENDS HERE*/

/*FEATURES STARTS HERE*/
.features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10vh 10vw;
    background-color: #E9EDEC;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    color: #234843;
}

.feature img {
    filter: invert(34%) sepia(34%) saturate(473%) hue-rotate(83deg) brightness(90%) contrast(87%);
    height: 5rem;
    width: 5rem;
}

@media screen and (max-width: 428px) {
    .features {
        flex-wrap: wrap;
        gap: 20%;
        height: auto;
        padding: 10% 10% 5% 10%;
    }
}

@media screen and (min-width: 1441px) {
    .feature {
        gap: 1.5rem;
    }

    .feature img {
        height: 7.5rem;
        width: 7.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .feature {
        gap: 2rem;
    }

    .feature img {
        height: 10rem;
        width: 10rem;
    }
}

/*FEATURES STARTS HERE*/


/*REVIEWS STARTS HERE*/
.reviews {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10vh 0 10vh 0;
}

.reviews h2 {
    margin: 0 0 5vh 0;
    text-align: center;
}

.review-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

.review-cards button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
    .review-cards {
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 769px) {
    .review-cards button {
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .review-cards button {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .review-cards button {
        width: 3rem;
        height: 3rem;
        font-size: 3rem;
    }
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    width: 27.5vw;
    padding: 5vh 5vw;
    box-sizing: border-box;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .review-card {
        display: none;
    }

    .show-review {
        display: flex;
        width: 50%;
    }
}

.review-stars {
    margin: 0;
}

.review-text {
    flex-grow: 1;
    margin: .5rem 0;
    text-align: center;
}

.attribution .name {
    margin: 0;
    font-weight: bold;
    font-style: italic;
}

.attribution .source {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .review-stars {
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }

    .review-text {
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }

    .attribution {
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }
}

@media screen and (min-width: 1441px) {
    .review-text {
        margin: .75rem 0;
    }
}

@media screen and (min-width: 1921px) {
    .review-text {
        margin: 1rem 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*REVIEWS ENDS HERE*/

/*INSTAGRAM STARTS HERE*/
.instagram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    height: auto;
    padding: 10vh 0;
    background-color: white;
}

.ig-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.ig-header button {
    border: none;
    width: 8rem;
    height: 2.5rem;
    font-family: 'Tajawal', sans-serif;
    color: white;
    background-color: #E8908F;
}

.ig-header button:hover {
    background-color: #E9A8A5;
}

.instagram h2 {
    font-size: 1.5rem;
    font-family: 'Tajawal', sans-serif;
    line-height: 2.5rem;
    color: #234843;
}

.ig-posts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.ig-posts a {
    position: relative;
    width: 22%;
    cursor: pointer;
}

.ig-posts img {
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
    aspect-ratio: 1 / 1;
    width: 100%;
}

.ig-posts span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-color: rgb(0, 0, 0, .4);
}

.ig-posts .fa-instagram {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.ig-posts span:hover {
    opacity: 1;
}

@media screen and (max-width: 428px) {
    .ig-posts {
        flex-wrap: wrap;
        row-gap: 9.5vw;
    }

    .ig-posts a {
        width: 44%;
    }
}

@media screen and (min-width: 1441px) {
    .instagram {
        gap: 1.5rem;
    }

    .ig-header button {
        width: 12rem;
        height: 3.75rem;
        font-size: 1.5rem;
    }

    .ig-posts .fa-instagram {
        height: 2.25rem;
        width: 2.25rem;
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .instagram {
        gap: 2rem;
    }

    .ig-header button {
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .ig-posts .fa-instagram {
        height: 3rem;
        width: 3rem;
        font-size: 3rem;
    }
}

/*INSTAGRAM ENDS HERE*/

/*NEWSLETTER STARTS HERE*/
.newsletter {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 25vh 5vw;
    text-align: center;
}

.newsletter p {
    color: white;
}

.submit-email {
    display: flex;
    gap: 1vh;
}

.submit-email input {
    flex-grow: 1;
    border-radius: 0;
    border: none;
    height: 2.5rem;
    padding: 0 0 0 1rem;
}

.submit-email input:focus {
    outline: none;
}

.submit-email button {
    border: none;
    width: 8rem;
    height: 2.5rem;
    font-family: 'Tajawal', sans-serif;
    color: white;
    background-color: #E8908F;
}

.submit-email button:hover {
    background-color: #E9A8A5;
}

@media screen and (max-width: 428px) {
    .submit-email {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit-email input {
        width: 100%;
    }
}

@media screen and (min-width: 1441px) {
    .submit-email {
        gap: 1.5rem;
    }

    .submit-email input {
        height: 3.75rem;
        padding: 0 0 0 1.5rem;
        font-size: 1.5rem;
    }

    .submit-email button {
        width: 12rem;
        height: 3.75rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px) {
    .submit-email {
        gap: 2rem;
    }

    .submit-email input {
        height: 5rem;
        padding: 0 0 0 2rem;
        font-size: 2rem;
    }

    .submit-email button {
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }
}

/*NEWSLETTER ENDS HERE*/

/**********HOME PAGE ENDS HERE**********/

/**********ABOUT PAGE STARTS HERE**********/
.about-page {
    width: 100%;
    overflow-x: none;
}

.about-page header {
    margin: 0;
    width: 10%;
    height: 50vh;
}

.about-page header img {
    object-fit: cover;
    object-position: 0% 15%;
    filter: sepia(15%) contrast(90%) brightness(.5);
    width: 100vw;
    height: 50vh;
}

.about-header-container {
    position: absolute;
    z-index: 2;
    top: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    padding: 5%;
    box-sizing: border-box;
}

.about-header-container h1 {
    color: white;
}

.about-header-container p {
    color: white;
}

.about-page h2 {
    color: #234843;
}

.about-page .container {
    display: flex;
    justify-content: center;
    gap: 5%;
    min-width: 100%;
    padding: 10vh 10vw;
    margin: 0;
}

.our-story {
    background-color: #E9EDEC;
}

.about-text {
    align-self: center;
    width: 50%;
    height: auto;
    color: #234843;
}

.about-img {
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 70vh;
    margin: auto;
}

.mission-img {
    object-position: 0% 80%;
}

@media screen and (max-width: 768px) {
    .about-page .container {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 10%;
    }

    .our-story {
        flex-direction: column-reverse !important;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .about-img {
        height: 16rem;
        aspect-ratio: 1/1;
    }

    .mission-img {
        object-position: 0% 60%;
    }
}

@media screen and (max-width: 428px) {
    .about-page {
        margin: 7.5rem 0 0 0;
    }

    .about-header-container {
        padding: 5% 10%;
    }

    .about-header-container p {
        text-align: center;
    }

    .about-page .container {
        padding: 0 0 10vh 0;
    }

    .about-img {
        aspect-ratio: unset;
        width: 100vw;
        height: 75vh;
    }

    .mission-img {
        object-position: 0% 60%;
    }
}

@media screen and (min-width: 1441px) {
    .about-header-container {
        top: 11.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .about-header-container {
        top: 15rem;
    }
}

/**********ABOUT PAGE ENDS HERE**********/

/**********SHOP PAGE STARTS HERE**********/
.shop-page {
    overflow-x: none;
    margin: 0;
    padding: 0 0 10vh 0;
}

.shop-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: sepia(15%) contrast(90%);
    overflow-x: none;
    width: 100%;
    margin: 0;
    padding: 10vh;
    box-sizing: border-box;
    background-image: url('https://images.pexels.com/photos/5980208/pexels-photo-5980208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 80%;
}

.shop-header-background {
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
    object-position: 0% 80%;
    width: 100%;
    height: 12rem;
    margin: 0 0 0 0;
}

@media screen and (max-width: 428px) {
    .shop-page {
        margin: 7.5rem 0 0 0;
    }

    .shop-header {
        height: 8rem;
    }

    .shop-header::before {
        height: 8rem;
    }
}

@media screen and (min-width: 1441px) {
    .shop-page {
        min-height: 90rem;
        padding: 0 0 7.5rem 0;
    }

    .shop-header {
        height: 18rem;
    }

    .shop-header::before {
        height: 18rem;
        margin: 11.25rem 0 0 0;
    }

    .shop-header-background {
        height: 18rem;
    }
}

@media screen and (min-width: 1921px) {
    .shop-page {
        min-height: 120rem;
        padding: 0 0 10rem 0;
    }

    .shop-header {
        height: 24rem;
    }

    .shop-header::before {
        height: 24rem;
        margin: 15rem 0 0 0;
    }

    .shop-header-background {
        height: 24rem;
    }
}

.shop-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.shop-header-container h1 {
    margin: 0;
    text-align: center;
    font-family: 'Gloock', 'serif';
    font-size: 2.5rem;
}

.shop-logo {
    filter: invert(21%) sepia(41%) saturate(472%) hue-rotate(122deg) brightness(98%) contrast(91%);
    height: 2rem;
    width: 3rem;
    margin: 0 auto 0 auto;
}

.shop-header-container h2 {
    font-family: 'Tajawal', 'sans serif';
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width: 768px) {
    .shop-logo {
        height: 2rem;
        width: 3rem;
    }

    .shop-header-container h1 {
        font-size: 2rem;
    }

    .shop-header-container h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1441px) {
    .shop-header-container h1 {
        font-size: 3.75rem;
    }

    .shop-logo {
        height: 3rem;
        width: 4.5rem;
    }

    .shop-header-container h2 {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .shop-header-container h1 {
        font-size: 5rem;
    }

    .shop-logo {
        height: 4rem;
        width: 6rem;
    }

    .shop-header-container h2 {
        font-size: 3rem;
    }
}

.shop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 2rem;
    padding: 0;
    margin: 3rem auto 0 auto;
}

.sorting-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    height: 100%;
    color: #234843;
}

.sorting-dropdown label {
    font-family: 'Tajawal', sans-serif;
}

.sorting-dropdown select {
    height: 100%;
    border: none;
    color: #234843;
    font-family: 'Tajawal', sans-serif;
}

.sorting-dropdown select:focus {
    outline: none;
}

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    height: 2.5rem;
    width: 10rem;
    padding: 0 1rem 0 1rem;
    border-style: none;
    border-radius: 0%;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #E9A8A5;
}

.dropdown-toggle:hover {
    color: white;
    background-color: #E8908F;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-item {
    transition: all .5s;
    color: #173935;
    font-family: 'Tajawal', sans-serif;
}

.dropdown-item:hover {
    color: white;
    background-color: #173935;
}

.angle-down-div {
    margin: .1rem 0 0 0;
}

.fa-angle-down {
    margin: 0 0 0 .5rem;
    height: 1rem;
    font-size: .8rem;
}

@media screen and (min-width: 1441px) {
    .shop-menu {
        height: 3rem;
        margin: 4.5rem auto 0 auto;
    }

    .sorting-dropdown {
        gap: .75rem;
    }

    .dropdown-toggle {
        height: 3.75rem;
        width: 15rem;
        padding: 0 1.5rem 0 1.5rem;
        font-size: 1.5rem;
    }

    .angle-down-div {
        margin: .2rem 0 0 0;
    }

    .fa-angle-down {
        margin: 0 0 0 .75rem;
        height: 1.5rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1921px) {
    .shop-menu {
        height: 4rem;
        margin: 6rem auto 0 auto;
    }

    .sorting-dropdown {
        gap: 1rem;
    }

    .dropdown-toggle {
        height: 5rem;
        width: 20rem;
        padding: 0 2rem 0 2rem;
        font-size: 2rem;
    }

    .angle-down-div {
        margin: .2rem 0 0 0;
    }

    .fa-angle-down {
        margin: 0 0 0 1rem;
        height: 2rem;
        font-size: 1.6rem;
    }
}

.shop-menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 1rem;
}

.shop-menu-buttons button {
    display: flex;
    align-items: center;
    border-style: none;
    padding: 0;
    background-color: rgb(0, 0, 0, 0);
}

.grid-button-1 {
    display: static;
}

.grid-button-3 {
    display: static;
}

@media screen and (min-width: 429px) {
    .grid-button-1 {
        display: none !important;
    }
}

@media screen and (max-width: 428px) {
    .grid-button-3 {
        display: none !important;
    }
}

.bi-square {
    transition: all .5s;
    width: 1.5rem;
    height: 1.5rem;
    color: #234843;
}

.bi-square:hover {
    color: #3D6347;
}

.shop-grid-button {
    transition: all .5s;
    width: 1.5rem;
    height: 1.5rem;
    color: #234843;
}

.shop-grid-button:hover {
    color: #3D6347;
}

@media screen and (min-width: 1441px) {
    .shop-menu-buttons {
        gap: 1.5rem;
    }

    .bi-square {
        width: 2.25rem;
        height: 2.25rem;
    }

    .shop-grid-button {
        width: 2.25rem;
        height: 2.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .shop-menu-buttons {
        gap: 2rem;
    }

    .bi-square {
        width: 3rem;
        height: 3rem;
    }

    .shop-grid-button {
        width: 3rem;
        height: 3rem;
    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 2rem;
    width: 80%;
    height: auto;
    margin: 1rem auto auto auto;
}


.product-card-container {
    display: flex;
    flex-direction: column;
}

.product-card-container:hover {
    cursor: pointer;
}

@media screen and (max-width: 428px) {
    .product-card-container {
        margin: 0 0 2% 0;
    }
}

@media screen and (min-width: 1441px) {
    .products-container {
        row-gap: 3rem;
        margin: 1.5rem auto auto auto;
    }
}

@media screen and (min-width: 1921px) {
    .products-container {
        row-gap: 4rem;
        margin: 2rem auto auto auto;
    }
}

.grid3 {
    transition: all .5s;
    width: 30%;
}

.grid2 {
    transition: all .5s;
    width: 47.5%;
}

.product-card-container button {
    padding: 0;
    border: none;
}

.product-image {
    filter: sepia(15%) contrast(90%);
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 428px) {
    .grid3 {
        width: 80%;
        margin: 0 auto 2rem auto;
    }

    .grid2 {
        width: 47.5%;
        margin: 0 0 2rem 0;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    padding: .5rem 0 0 0;
}

.product-name {
    margin: 0;
    text-transform: capitalize;
    color: #173935;
}

@media screen and (max-width: 428px) {
    .product-info {
        padding: .5rem 0 0 0;
    }

    .product-name {
        font-size: .8rem;
    }
}

.product-price {
    color: #E9A8A5;
    font-weight: bold;
}

@media screen and (min-width: 1441px) {
    .product-info {
        padding: .75rem 0 0 0;
    }
}

@media screen and (min-width: 1921px) {
    .product-info {
        padding: 1rem 0 0 0;
    }
}

.view-product-container {
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
}

.exit-view {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0, 0);
}

.exit-view i {
    z-index: 2;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    padding: 0;
    font-size: 1.6rem;
    color: white;
}

.view-product {
    position: relative;
    aspect-ratio: 4 / 2;
    display: flex;
    width: 70vw;
    height: auto;
    margin: auto;
    background-color: white;
}

.view-product img {
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
    aspect-ratio: 1 /1;
    width: 50%;
    height: auto;
}

.details-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: .5rem;
}

@media screen and (max-width: 768px) {
    .view-product {
        flex-direction: column;
        width: 20rem;
    }

    .view-product img {
        width: 100%;
        height: 18rem;
    }

    .details-panel {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 428px) {
    .view-product {
        width: 100%;
        height: 100%;
    }

    .view-product img {
        aspect-ratio: 1.2/1;
        width: 100%;
        height: auto;
    }
}

.view-product-info {
    width: 100%;
    padding: .5rem;
}

.view-product-name {
    margin: 0;
    height: 2rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.view-product-reviews {
    display: flex;
    gap: .5rem;
}

.view-product-stars {
    display: flex;
    padding: 0;
}

.view-product-stars i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.view-product-reviews a {
    color: #173935;
}

.view-product-price {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (min-width: 1441px) {
    .exit-view i {
        font-size: 2.25rem;
    }

    .view-product {
        width: 60rem;
    }

    .view-product img {
        height: 36rem;
    }

    .details-panel {
        padding: .75rem;
    }

    .details-panel .fa-x {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.2rem;
    }

    .view-product-info {
        padding: .75rem;
    }

    .view-product-name {
        height: 3rem;
        font-size: 2.25rem;
    }

    .view-product-reviews {
        gap: .75rem;
    }

    .view-product-price {
        font-size: 2.25rem;
    }
}

@media screen and (min-width: 1921px) {
    .exit-view i {
        font-size: 3rem;
    }

    .view-product {
        width: 80rem;
    }

    .view-product img {
        height: 48rem;
    }

    .details-panel {
        padding: 1rem;
    }

    .details-panel .fa-x {
        height: 2rem;
        width: 2rem;
        font-size: 1.6rem;
    }

    .view-product-info {
        padding: 1rem;
    }

    .view-product-name {
        height: 4rem;
        font-size: 3rem;
    }

    .view-product-reviews {
        gap: 1rem;
    }

    .view-product-price {
        font-size: 3rem;
    }
}

.quantity-cart-container {
    display: flex;
    gap: 1rem;
    height: 2rem;
    padding: 0;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #173935;
    width: 9rem;
    height: 2rem;
    padding: 0;
}

.quantity-container button {
    width: 2rem;
    height: 100%;
    border: none;
    padding: 0 0 .25rem 0;
    background-color: #E9EDEC;
}

.quantity-container button:hover {
    background-color: #D3DAD9;
}

.quantity-container button:active {
    color: white;
    background-color: #173935;
}

.quantity-container p {
    align-self: center;
    margin: .025rem 0 0 0;
}

.quantity-container input::-webkit-inner-spin-button,
.quantity-container input::-webkit-outer-spin-button {
    display: block;
    opacity: 1;
    color: black;
}

@media screen and (min-width: 1441px) {
    .quantity-cart-container {
        gap: 1.5rem;
        height: 3rem;
    }

    .quantity-container {
        width: 13.5rem;
        height: 3rem;
    }

    .quantity-container button {
        width: 3rem;
        padding: 0 0 .375rem 0;
    }

    .quantity-container p {
        margin: .0375rem 0 0 0;
    }
}

@media screen and (min-width: 1921px) {
    .quantity-cart-container {
        gap: 2rem;
        height: 4rem;
    }

    .quantity-container {
        width: 18rem;
        height: 4rem;
    }

    .quantity-container button {
        width: 4rem;
        padding: 0 0 .5rem 0;
    }

    .quantity-container p {
        margin: .05rem 0 0 0;
    }
}

.alter-total {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto 0 auto;
}

.add-to-cart {
    display: static;
    width: 100%;
    height: 2rem;
    border: none;
    color: white;
    font-family: 'Tajawal', 'sans serif';
    background-color: #173935;
}

.add-to-cart:hover {
    background-color: #3D6347;
}

.add-to-cart:active {
    border: 2px solid #173935;
    color: #173935;
    background-color: white;
}

.alter-total button {
    transition: all .5s;
    width: 3rem;
    height: 2rem;
    padding: 0 0 .2rem 0;
    border-style: none;
    color: #173935;
    font-weight: bold;
}

.alter-total button:hover {
    background-color: #173935;
    color: white;
}

@media screen and (min-width: 1441px) {
    .add-to-cart {
        height: 3rem;
    }

    .alter-total button {
        width: 4.5rem;
        height: 3rem;
        padding: 0 0 .3rem 0;
    }
}

@media screen and (min-width: 1921px) {
    .add-to-cart {
        height: 4rem;
    }

    .alter-total button {
        width: 6rem;
        height: 4rem;
        padding: 0 0 .4rem 0;
    }
}

.share-container {
    border-top: 1px solid #173935;
    height: auto;
    margin: auto .5rem .5rem .5rem;
    padding: .5rem 0 0 0;
}

.share-container p {
    margin: 0;
}

.share-social-media {
    display: flex;
    gap: .5rem;
}

.share-social-media i {
    color: #173935;
    cursor: pointer;
}

.share-social-media i:hover {
    color: #3D6347;
}

@media screen and (min-width: 1441px) {
    .share-container {
        margin: auto .75rem .75rem .75rem;
        padding: .75rem 0 0 0;
    }

    .share-social-media {
        gap: .75rem;
    }
}

@media screen and (min-width: 1921px) {
    .share-container {
        margin: auto 1rem 1rem 1rem;
        padding: 1rem 0 0 0;
    }

    .share-social-media {
        gap: 1rem;
    }
}

/**********SHOP PAGE ENDS HERE**********/

/**********CART PAGE STARTS HERE**********/
.fa-asterisk {
    color: #C76750;
    font-size: .5rem;
}

.cart-page {
    gap: 5%;
}

.cart-page h3 {
    margin: 0;
    border-bottom: 1px solid #173935;
    color: #173935;
    font-family: 'Gloock', serif;
    font-size: 2rem;
    white-space: nowrap;
}

.cart-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.cart-table {
    width: 70%;
    padding: 1.5rem 0 0 0;
}

.cart-shopping-cart {
    font-size: 1.25rem;
}

.cart-table-headers {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    font-family: 'Tajawal', 'sans serif';
}

@media screen and (max-width: 1024px) {
    .cart-page h3 {
        font-size: 1.5rem;
    }

    .cart-table-headers li {
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .cart-page {
        min-height: 20rem;
    }

    .cart-table {
        width: 100%;
    }

    .cart-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 428px) {
    .cart-page {
        margin: 7.5rem 0 0 0;
    }
}

@media screen and (min-width: 1921px) {
    .fa-asterisk {
        font-size: 1rem;
    }

    .cart-page {
        min-height: 90rem;
    }

    .cart-page h3 {
        font-size: 4rem;
    }

    .cart-container {
        gap: 4rem;
        padding: 4rem;
    }

    .cart-table {
        padding: 3rem 0 0 0;
    }

    .cart-shopping-cart {
        font-size: 2.5rem;
    }

    .cart-table-headers {
        padding: 2rem 0;
    }
}

.items-in-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10rem;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 0 0 1rem 0;
}

.items-in-cart h4 {
    margin: 0 0 -.5rem 0;
    color: #234843;
}

.cart-empty {
    margin: 0;
    text-align: center;
    color: #234843 !important;
    line-height: 10rem;
    background-color: white;
}

@media screen and (min-width: 1921px) {
    .items-in-cart {
        min-height: 20rem;
        padding: 0 0 2rem 0;
    }

    .items-in-cart h4 {
        margin: 0 0 -1rem 0;
    }

    .cart-empty {
        line-height: 20rem;
    }
}

.fa-x {
    position: relative;
    margin: 0;
    color: #173935;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    transition: all.5s;
    height: 10rem;
    margin: 0 0 1rem 0;
    background-color: white;
}

.cart-product-image {
    object-fit: cover;
    width: 25%;
    height: 100%;
}

.cart-product-name {
    padding: 1rem 0 0 1rem;
    width: 25%;
    color: #173935 !important;
    text-transform: uppercase;
    word-wrap: break-word;
}

.cart-unit-price {
    padding: 1rem 0 0 .5rem;
    width: 25%;
    color: #173935 !important;
}

.cart-quantity {
    padding: 1rem 0 0 .5rem;
    width: 20%;
    color: #173935 !important;
}

.delete-cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    border-style: none;
    background-color: rgb(0, 0, 0, 0);
}

@media screen and (max-width: 1024px) {
    .delete-cart-item .fa-x {
        font-size: .8rem;
    }

    .cart-product {
        height: 6rem;
    }

    .cart-product p {
        font-size: .8rem;
    }

    .cart-product-image {
        width: 15%;
    }
}

@media screen and (min-width: 1921px) {
    .cart-product {
        height: 20rem;
        margin: 0 0 2rem 0;
    }

    .cart-product-name {
        padding: 2rem 0 0 2rem;
    }

    .cart-unit-price {
        padding: 2rem 0 0 1rem;
    }

    .cart-quantity {
        padding: 2rem 0 0 1rem;
    }

    .delete-cart-item {
        height: 2rem;
        width: 2rem;
        margin: 2rem;
    }
}

.summary-container {
    min-width: 18rem;
    width: 30%;
    height: 20rem;
    padding: 1.5rem;
    background-color: rgb(233, 168, 165);
}

.summary-container p {
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0 0;
    height: 85%;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .summary-container {
        min-width: 15rem;
    }

    .summary-container p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .summary-container {
        width: 100%;
        height: 15rem;
    }
}

@media screen and (min-width: 1921px) {
    .summary-container {
        min-width: 36rem;
        height: 40rem;
        padding: 3rem;
    }

    .summary {
        padding: 2rem 0 0 0;
    }
}

.pickup-delivery-input input {
    cursor: pointer;
}

.checkout-button {
    justify-self: end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
    width: 8rem;
    height: 2.5rem;
    border-style: none;
    color: #173935;
    font-family: 'Gloock', 'sans serif';
    font-size: 1rem;
    background-color: white;
}

.checkout-button:hover {
    width: 10rem;
}

.checkout-button .nav-link-button {
    color: #173935;
}

.btn-disabled {
    opacity: 50%;
    pointer-events: none;
}

@media screen and (min-width: 1921px) {
    .checkout-button {
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .checkout-button:hover {
        width: 20rem;
    }
}

/**********CART PAGE STARTS HERE**********/

/**********CHECKOUT PAGE STARTS HERE**********/

.checkout-page {
    min-height: 60rem;
    padding: 8rem 12% 8rem 12%;
    gap: 5%;
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

@media screen and (max-width: 768px) {
    .checkout-page {
        padding: 8rem 8% 8rem 8%;
    }
}

@media screen and (max-width: 428px) {
    .checkout-page {
        margin: 1rem 0 0 0;
    }
}

@media screen and (min-width: 1921px) {
    .checkout-page {
        min-height: 120rem;
        padding: 16rem 15% 16rem 15%;
    }
}

.back-to-cart {
    transition: all .5s;
    border: none;
    padding: .5rem;
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
    color: #173935;
    background-color: #E9A8A5;
}

.back-to-cart:hover {
    background-color: #E8908F;
}

@media screen and (max-width: 768px) {
    .back-to-cart {
        width: 8rem;
        height: 3rem;
    }
}

@media screen and (min-width: 1921px) {
    .back-to-cart {
        padding: 1rem;
        width: 20rem;
        height: 8rem;
        font-size: 2rem;
    }
}

.checkout-page h3 {
    margin: 5% 0 0 0;
    font-size: 2rem;
    font-weight: bold;
}

.checkout-form {
    padding: 1rem 0 0 0;
}

@media screen and (min-width: 1921px) {
    .checkout-page h3 {
        font-size: 4rem;
    }

    .checkout-form {
        padding: 2rem 0 0 0;
    }
}

.checkout-form input {
    border: 1px solid #E9A8A5;
}

.checkout-form input:focus {
    outline: none;
    border: 2px solid #E8908F;
}

input::-webkit-inner-spin-button {
    display: none;
}

.form-div {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #173935;
}

.form-div h4 {
    grid-column: 1/2;
    padding: 0 1rem 0 0;
    font-size: 1.5rem;
}

.form-div h6 {
    grid-column: 1/2;
}

.name-container {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 428px) {
    .form-div {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .name-container {
        flex-direction: column;
    }
}

@media screen and (min-width: 1921px) {
    .form-div {
        margin: 2rem 0 0 0;
        padding: 0 0 2rem 0;
    }

    .form-div h4 {
        padding: 0 2rem 0 0;
        font-size: 3rem;
    }

    .name-container {
        gap: 2rem;
    }
}

.select-date-container {
    margin: 1rem 0 1rem 0;
}

.select-date:focus {
    border: 1px solid #E9A8A5 !important;
    font-family: 'Tajawal', 'sans serif';
}

::-webkit-datetime-edit {
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 1rem 0;
}

.input-item input {
    height: 2.5rem;
    padding: 0 .5rem 0 .5rem;
}

@media screen and (min-width: 1921px) {
    .select-date-container {
        margin: 2rem 0 2rem 0;
    }

    .input-item {
        margin: 0 0 2rem 0;
    }

    .input-item input {
        height: 5rem;
        padding: 0 1rem 0 1rem;
    }
}

.form-button {
    margin: 1rem 0 0 0;
    height: 2rem;
    border-style: none;
    background-color: #3D6347;
    color: white;
}

@media screen and (min-width: 1921px) {
    .form-button {
        margin: 2rem 0 0 0;
        height: 4rem;
    }
}

.form-button:active {
    background-color: #173935;
}

.submit-code {
    min-width: 8rem;
    align-self: end;
}

.price-info {
    margin: 1rem 0 0 0;
}

.total {
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (min-width: 1921px) {
    .price-info {
        margin: 2rem 0 0 0;
    }

    .total {
        font-size: 3rem;
    }
}

.submit-button-div {
    display: flex;
    justify-content: center;
}

.submit-form {
    margin: 1rem auto 0 auto;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .submit-form {
        width: 10rem;
    }
}

@media screen and (min-width: 1921px) {
    .submit-form {
        margin: 2rem auto 0 auto;
        font-size: 2rem;
    }
}

/**********CHECKOUT PAGE ENDS HERE**********/

/**********FOOTER STARTS HERE**********/
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10vh 0 5vh 0;
    background-color: #173935;
}

.footer-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-column ul {
    padding: 0;
    list-style-type: none;
}

.footer-list li,
.footer-2 p {
    list-style-type: none;
    text-align: center;
    color: #E8908F;
    font-family: 'Tajawal', sans-serif;
}

.social-media-footer {
    width: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
}

.social-media-footer i {
    cursor: pointer;
}

.footer-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.footer-link {
    color: #E8908F;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

.footer-link:hover {
    color: #E9A8A5;
}

.footer-link i {
    font-size: 1rem;
}

.other-information {
    line-height: 2rem;
}

.copyright-statement {
    padding: 0;
    text-align: center;
    color: #E8908F;
    font-family: 'Tajawal', sans-serif;
}

@media screen and (max-width: 768px) {
    .footer-columns {
        grid-template-columns: 1fr;
        gap: 5vh;
    }

    .footer-2 {
        grid-row: 1;
    }

    .footer-column ul,
    .footer-2 p {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1441px) {
    .social-media-footer {
        min-width: 12rem;
    }

    .footer-link i {
        font-size: 1.5rem;
    }

    .other-information {
        line-height: 3rem;
    }
}

@media screen and (min-width: 1921px) {
    .social-media-footer {
        min-width: 16rem;
        max-width: 20rem;
        font-size: 3rem;
    }

    .footer-link i {
        font-size: 2rem;
    }

    .other-information {
        line-height: 4rem;
    }
}

/**********FOOTER PAGE ENDS HERE**********/

/**********ERROR PAGE STARTS HERE**********/
.error-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30rem;
}

.error-background {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: sepia(15%) contrast(90%) brightness(.5);
    width: 100%;
    height: 100vh;
}

.error-page h1 {
    margin: auto;
    font-family: 'Tajawal', 'sans serif';
    text-align: center;
    color: white;
}

@media screen and (min-width: 1921px) {
    .error-page {
        height: 80rem;
    }
}

/**********ERROR PAGE ENDS HERE**********/