/*
Color Scheme
Green and Pink https://www.schemecolor.com/green-and-pink-color-scheme.php

font-family: 'Tajawal', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Abril Fatface', cursive;

new header img? https://www.pexels.com/photo/closeup-of-chrysanthemum-and-carnation-bouquet-4466541/
*/

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
}

html{
    overflow-x: hidden !important;
}

.home-background{
    width: auto;
    height: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    transform: rotate(90deg) translate(0%, 25%);
    filter: sepia(15%) contrast(90%) brightness(.5);
}

@media screen and (max-width: 428px){
    .home-background{
        height: 90vh;
    }
}

.page{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.font-extra-small{
    font-size: .8rem;
}

.font-small{
    font-size: 1rem;
}

h2{
    color: white;
    font-size: 2rem;
    font-family: 'Gloock', 'serif';
}

p{
    font-family: 'Tajawal', sans-serif;
    color: #234843;
}

@media screen and (min-width: 1921px){
    .font-extra-small{
        font-size: 1.6rem;
    }

    .font-small{
        font-size: 2rem;
    }

    p{
        font-size: 2rem;
    }
}

.hide{
    display: none !important;
}

/*NAVBAR STARTS HERE*/
.navbar-menu{
    z-index: 4;
    width: 100%;
    height: 4rem;
    background-color: #E9A8A5;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.navbar-filler{
    width: 15rem;
}

.site-name-logo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .15rem;
    padding: 0 1rem;
}

.logo{
    width: 1.8rem;
    height: .8rem;
    object-fit: cover;
    filter: invert(20%) sepia(16%) saturate(1348%) hue-rotate(122deg) brightness(100%) contrast(85%);
}

.site-name-logo a{
    font-size: 1.25rem;    
    color: #234843 !important;
    font-family: "Averia Serif Libre", serif;  
    text-decoration: none;
    line-height: 1.25rem;
    white-space: nowrap;
}

.navbar-link{
    font-size: .8rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: '#173935';
    text-decoration: 'none';
    text-align: 'center';
    font-family: 'Tajawal, sans-serif';
    width: 5rem;
    /*'#E8908F' : '#E9A8A5'*/
}

.navbar-link:hover{
    background-color: #E8908F !important;
}

.cart-nav-button{
    word-spacing: 10px;
    white-space: nowrap;
    width: 5rem;
}

.cart-counter-container{
    width: 1.75rem;
    display: flex;
}

.fa-cart-shopping{
    font-size: 1.25rem;
    margin: 0 0 0 0;
}

.cart-counter{
    height: .75rem;
    width: .75rem;
    font-size: .5rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: white;
    display: block;
    line-height: .7rem;
    padding: .03rem 0 0 0;
    margin: -.3rem 0 0 -.5rem;
}

@media screen and (max-width: 428px){
    .cart-counter-container{
        display: none;
    }

    .navbar-filler, .navbar-link{
        display: none;
    }
}

@media screen and (min-width: 1921px){
    .navbar-menu{
        height: 8rem;
    }

    .navbar-link{
        font-size: 2rem;
    }
}
/*NAVBAR ENDS HERE*/

/*HAMBURGER MENU STARTS HERE*/
.hamburger-menu{
    z-index: 4;
}

.show-hamburger-menu-container{
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburger-menu-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #E9A8A5;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.hamburger-button{
    width: auto;
    height: 4rem;
    border: none;
    align-self: flex-end;
    background-color: rgb(0,0,0,0);
    color: white;
    padding: 0 4%;
}

.menu-icon{
    font-size: 1.5rem;
    margin: 0;
}

.hamburger-menu-items{
    align-self: center;
    justify-self: center;
    margin: 20% 0 auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hamburger-link{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

@media screen and (max-width: 376px){
    .hamburger-link{
        height: 4rem;
    }
}

@media screen and (min-width: 429px){
    .hamburger-menu{
        display: none;
    }
}

.menu-fade-in{
    animation: fadeIn .25s;
    -webkit-animation: fadeIn .25s;
    -moz-animation: fadeIn .25s;
    -o-animation: fadeIn .25s;
    -ms-animation: fadeIn .25s;
}

@keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-webkit-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-moz-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-o-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-ms-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}

.menu-fade-out{
    animation: fadeOut .25s;
    -webkit-animation: fadeOut .25s;
    -moz-animation: fadeOut .25s;
    -o-animation: fadeOut .25s;
    -ms-animation: fadeOut .25s;
}

@keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-webkit-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-moz-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-o-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-ms-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}

/*HAMBURGER MENU ENDS HERE*/

/**********HOME PAGE STARTS HERE**********/
/*HERO SECTION STARTS HERE*/
.hero-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 4rem 0 0 0;
    filter: drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}

.hero-headline{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    position: absolute;
    z-index: 1;
    top: 4rem;
}

h1{
    text-align: left;
    font-size: 3rem;
    color: white;
    font-family: 'Gloock', 'serif';
}

.hero-headline p{
    font-size: 1rem;
    font-family: 'Tajawal', sans-serif;
    color: white;
}

@media screen and (max-width: 428px){
    h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 376px){
    .logo{
        margin: 0 0 0 1rem;
    }
}

@media screen and (max-width: 768px){
    .hero-container{
        margin: 4rem auto 0 auto;
        min-height: 45rem;
        height: 75vh;
        flex-direction: column;
    }   

    .hero-headline{
        width: 100%;
    }
}

@media screen and (min-width: 1921px){
    .hero-container{
        height: 60rem;
        margin: 8rem auto 0 auto;
    }    

    .logo{
        width: 8rem;
        height: 6rem;
        margin: 0 0 0 5rem;
    }

    h1{
        font-size: 7rem;
    }

    h2{
        font-size: 3rem;
    }
}


.social-media-hero{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 5%;
}

.social-media-hero a i{
    color: white;
}

.social-media-hero a i:hover{
    text-decoration: none;
    color: #E9A8A5;
}

.hero-image-container{
    width: 100%;
    min-height: 30rem;
    height: 100vh;
    object-fit: cover;
    margin: 4rem 0 0 0;
}

.hero-image{
    position: absolute;
    width: 100vw;
    min-height: 30rem;
    height: 100vh;
    object-fit: cover;
    filter: sepia(15%) contrast(90%) brightness(.5);
}

@media screen and (max-width: 768px){
    .hero-image{
        width: 100%;
    }
}

@media screen and (min-width: 1921px){
    .social-media-hero li a i{
        font-size: 2rem;
    }

    .hero-image-container{
        height: 60rem;
    }

    .hero-image{
        height: 60rem;
    }
}

.fade-in{
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-webkit-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-moz-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-o-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-ms-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}

/*HERO SECTION ENDS HERE*/

/*BESTSELLERS STARTS HERE*/
.bestsellers{
    width: 100%;
    min-height: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 0 5% 0;
    box-sizing: border-box;
}

.bestsellers .section-header{
    width: 80%;
    margin: 5% auto 2.5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bestsellers .section-header h2{
    align-self: flex-end;
    height: 100%;
    font-size: 2rem;
    font-family: 'Gloock', serif;
    color: #234843;
    margin: auto 0 0 0;
}

.bestsellers a{
    height: 100%;
    font-family: 'Gloock', serif;
    color: #234843;
    text-decoration: underline; 
}

.bestsellers a:hover{
    color: #3D6347;
}

.bestsellers-text{
    color: white;
}

.bestsellers .nav-link-button{
    width: 8rem;
    height: 2.5rem;
    transition: all .5s;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    border: none;
    background-color: rgb(0,0,0,0);
}

.bestsellers .nav-link-button:hover{
    width: 10rem;
}

.see-more{
    width: 8rem;
    height: 2.5rem;
    transition: all .5s;
    padding: 0 .75rem;
    text-decoration: none;
    color: white;
    background-color:#E8908F;
    font-family: 'Gloock', serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.see-more:hover{
    color: white;
    width: 10rem;
}

.nav-link-button .fa-arrow-right{
    margin: 0 0 0 1rem;
}

.bestsellers-text{
    max-width: 90%;
}

@media screen and (max-width: 768px){
    .our-bestsellers{
        width: 100%;
        min-height: 42rem;
        height: auto;
        margin: 0;
        padding: 2rem 0 1rem 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;        
        gap: 0;
    }

    .bestsellers-header{
        width: 85%;
        margin: 0 5% 0 5%;
    }

    .bestsellers-header h3{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1921px){
    .our-bestsellers{
        min-height: 80rem;
        padding: 2rem 0 0 0;
    }

    .bestsellers-header{
        padding: 3rem;
    }

    .bestsellers-header h3{
        font-size: 6rem;
    }

    .bestsellers-header button{
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .bestsellers-header button:hover{
        width: 22rem;
    }
}

.bestseller-cards{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
}

.bestseller-card{
    width: 22%;
    font-family: 'Gloock', serif;
    aspect-ratio: 1 / 1.25;
    display: flex;
    flex-direction: column;
    gap: auto;
    justify-content: space-between;
}

.bestseller-card img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    font-family: 'Gloock', serif;
    filter: sepia(15%) contrast(90%);
}

.card-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
}

.card-info p{
    height: 1.25rem;
    margin: auto 0;
    white-space: nowrap;
}


@media screen and (max-width: 768px){
    .bestseller-cards{
        gap: auto;
    }

    .bestseller-card{
        width: 45%;
    }
    
}

@media screen and (max-width: 428px){
    .card-info p{
        height: 1rem;
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    .card-image{
        height: 15rem;
    }
}

@media screen and (min-width: 1921px){
    .bestseller-cards{
    }

    .bestseller-card-info{
    }
}

/*BESTSELLERS ENDS HERE*/

/*FEATURES STARTS HERE*/
.features{
    height: 15rem;
    width: 100%;
    background-color: #E9EDEC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color:  #234843;
}

.feature img{
    height: 5rem;
    width: 5rem;
    filter: invert(34%) sepia(34%) saturate(473%) hue-rotate(83deg) brightness(90%) contrast(87%);
}
/*FEATURES STARTS HERE*/


/*REVIEWS STARTS HERE*/
.reviews{
    padding: 2rem 0;
}

.reviews h2{
    text-align: center;
    margin: 0 0 2rem 0;
}

.review-cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-cards button{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.5rem;
    color: white;
    border: none;
    background-color: rgb(0,0,0,0);
}

@media screen and (min-width: 769px){
    .review-cards button{
        display: none;
    }
}

.review-card{
    max-width: 14rem;
    height: 24rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    padding: 1.5rem;
}

@media screen and (max-width: 768px){
    .review-card{
        display: none;
    }
}

.show-review{
    display: flex;
}

.review-stars{
    margin: 0;
}

.review-text{
    margin: .5rem 0;
    text-align: center;
}

.attribution .name{
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.attribution .source{
    margin: 0;
}

@media screen and (max-width: 768px){
    .review-stars{
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }

    .review-text{
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }

    .attribution{
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/*REVIEWS ENDS HERE*/

/*INSTAGRAM STARTS HERE*/
.instagram{
    background-color: white;
    padding: 4rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.ig-header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ig-header button{
    border: none;
    background-color: #E8908F;
    color: white;
    width: 8rem;
    height: 2.5rem;
    font-family: 'Tajawal', sans-serif;
}

.ig-header button:hover{
    background-color: #E9A8A5;
}

.instagram h2{
    color: #234843;
}

.ig-posts{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ig-posts a{
    width: 22%;
    cursor: pointer;
    position: relative;
}

.ig-posts img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

.ig-posts span{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgb(0,0,0,.4);
    transition: all .5s;
}

.ig-posts .fa-instagram{
    color: white;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

.ig-posts span:hover{
    opacity: 1;
}

/*INSTAGRAM ENDS HERE*/

/*NEWSLETTER STARTS HERE*/
.newsletter{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 8rem 6rem;
}

.newsletter p{
    color: white;
}

.submit-email{
    display: flex;
    gap: 1rem;

}

.submit-email input{
    flex-grow: 1;
    border-radius: 0;
    border: none;
    padding: 0 0 0 1rem;
}

.submit-email input:focus{
    outline: none;
}

.submit-email button{
    border: none;
    background-color: #E8908F;
    color: white;
    width: 8rem;
    height: 2.5rem;
    font-family: 'Tajawal', sans-serif;
}

.submit-email button:hover{
    background-color: #E9A8A5;
}

/*NEWSLETTER ENDS HERE*/

/**********HOME PAGE ENDS HERE**********/

/**********ABOUT PAGE STARTS HERE**********/
.about-page{
    min-height: 60rem;
    width: 100%;
    overflow-x: none;
}

.about-page header{
    margin: 4rem 0 0 0;
    width: 10%;
    height: 20rem;
}

.about-page header img{
    width: 100vw;
    height: 20rem;
    object-fit: cover;
    object-position: 0% 15%;
    filter: sepia(15%) contrast(90%) brightness(.5);
}

.about-header-container{
    position: absolute;
    z-index: 2;
    top: 4rem;
    width: 100vw;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.about-header-container h1{
    color: white;
}

.about-header-container p{
    color: white;
}

.about-page h2{
    color: #234843;
}

.about-page .container{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    margin: 0;
}

.our-story{
    background-color: #E9EDEC;
}

.about-text{
    width: 50%;
    height: auto;
    color: #234843;
    align-self: center;
}

.about-img{
    width: 40%;
    height: 20rem;
    object-fit: cover;
}

.mission-img{
    object-position: 0% 80%;
}

/**********ABOUT PAGE ENDS HERE**********/

/**********SHOP PAGE STARTS HERE**********/
.shop-page{
    min-height: 60rem;
    padding: 0 0 5rem 0;
    overflow-x: none;
    margin: 0;
}

.shop-header{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 0 0;
    overflow-x: none;
}

.shop-header::before{
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
    height: 12rem;
    margin: 2rem 0 0 0;
    width: 100%;
	box-sizing: border-box;
	background-image: url('https://images.pexels.com/photos/5980208/pexels-photo-5980208.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 0% 80%;
	filter: sepia(15%) contrast(90%);
	z-index: -1;
}

.shop-header-background{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    margin: 0 0 0 0;
    filter: sepia(15%) contrast(90%);
    object-position: 0% 80%;
}

@media screen and (max-width: 428px){    
    .shop-header{
        height: 8rem;
    }

    .shop-header::before{
        height: 8rem;
    }
}

@media screen and (min-width: 1921px){
    .shop-page{
        min-height: 120rem;
        padding: 0 0 10rem 0;
    }
    
    .shop-header{
        height: 30rem;
    }
    
    .shop-header-background{
        height: 30rem;
        margin: 8rem 0 0 0;
    }
}

.shop-header-container{
    width: 100%;
    padding: 0;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.shop-header-container h1{
    text-align: center;
    font-family: 'Gloock', 'serif';
    font-size: 2.5rem;
    margin: 0;
}

.shop-logo{
    height: 2rem;
    width: 3rem;
    margin: 0 auto 0 auto;
    filter: invert(21%) sepia(41%) saturate(472%) hue-rotate(122deg) brightness(98%) contrast(91%);
}

.shop-header-container h2{
    font-family: 'Tajawal', 'sans serif';
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width: 768px){
    .shop-logo{
        height: 2rem;
        width: 3rem;
    }
    
    .shop-header-container h1{
        font-size: 2rem;
    }

    .shop-header-container h2{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px){
    .shop-header-container{
        padding: 2rem 0 2rem 0;
        margin: 16rem auto 0 auto;
    }
    
    .shop-header-container h1{
        font-size: 6rem;
    }

    .shop-logo{
        height: 4rem;
        width: 6rem;
    }
    
    .shop-header-container h2{
        font-size: 4rem;
    }    
}

.shop-menu{
    padding: auto 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    margin: 3rem auto 0 auto;
    border: 1px solid #E9A8A5;
}

@media screen and (max-width: 768px){
    .shop-menu{
        width: 95%;
    }
}

.dropdown-toggle{
    height: 2.5rem;
    width: 10rem;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    border-radius: 0%;
    background-color: #E9A8A5;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    color: white;
    transition: all .5s;
}

.dropdown-toggle:hover{
    background-color: #E8908F;
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    border-radius: 0%;
}

.dropdown-item{
    color:#173935;
    font-family: 'Tajawal', sans-serif;
    transition: all .5s;
}

.dropdown-item:hover{
    color: white;
    background-color: #173935;
}

.angle-down-div{
    margin: .1rem 0 0 0;
}

.fa-angle-down{
    margin: 0 0 0 .5rem;
    height: 1rem;
    font-size: .8rem;
}

@media screen and (min-width: 1921px){
    .shop-menu{
        margin: 6rem auto 0 auto;
    }

    .dropdown-toggle{
        height: 5rem;
        width: 20rem;
        padding: 1rem 0 0 2rem;
        font-size: 2rem;
    }

    .angle-down-div{
        margin: .1rem 0 0 0;
    }

    .fa-angle-down{
        margin: 0 0 0 1rem;
        height: 1rem;
        font-size: 1.6rem;
    }
}

.shop-menu-buttons{
    display: flex;
    align-items: center;
    margin: 0 .5rem 0 0;
}

.shop-menu-buttons button{
    border-style: none;
    padding: auto 0 auto 0;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0,0);
}

.grid-button-1{
    display: static;
}

.grid-button-3{
    display: static;
}

@media screen and (min-width: 429px){
    .grid-button-1{
        display: none !important;
    }
}

@media screen and (max-width: 428px){
    .grid-button-3{
        display: none !important;
    }
}

.bi-square{
    width: 1.5rem ;
    height: 1.5rem;
    color: #E9A8A5;
    transition: all .5s;
}

.bi-square:hover{
    color: #E8908F;
}

.shop-grid-button{
    width: 1.5rem ;
    height: 1.5rem;
    color: #E9A8A5;
    transition: all .5s;
}

.shop-grid-button:hover{
    color: #E8908F;
}

@media screen and (min-width: 1921px){    
    .shop-menu-buttons{
        margin: 0 1rem 0 0;
    }

    .shop-grid-button{
        width: 3rem;
        height: 3rem;
    }
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 1rem auto auto auto;
    gap: 5%;
}

@media screen and (max-width: 428px){
    .products-container{
        padding: 5%;
        gap: 5%;
    }
}

@media screen and (max-width: 768px){
    .products-container{
        width: 95%;
    }
}

.product-card-container{
    height: 100%;
    margin: 0 0 2rem 0;
}

.product-card-container:hover{
    cursor: pointer;
}

@media screen and (max-width: 428px){
    .product-card-container{
        margin: 0 0 2% 0;
    }
}

@media screen and (min-width: 1921px){
    .products-container{
        margin: 2rem auto auto auto; 
    }
    
    .product-card-container{
        margin: 0 0 4rem 0;
    }
}

.grid3{    
    width: 30%;
    transition: all .5s;
}

.grid2{
    width: 47.5%;
    transition: all .5s;
}

.product-image{
    width: 100%;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

.grid-image-3{
    height: 15rem;
}

.grid-image-2{
    height: 25rem;
}

@media screen and (max-width: 428px){
    .grid3{    
        /*width: 32.6666%;*/
        width: 80%;
        margin: 0 auto 2rem auto;
    }
    
    .grid2{
        width: 47.5%;
        margin: 0 0 2rem 0;
    }

    .grid-image-3{
        height: 20rem !important;
    }
}

@media screen and (max-width: 768px){    
    .grid-image-3{
        height: 10rem;
    }
    
    .grid-image-2{
        height: 15rem;
    }
}

@media screen and (min-width: 1921px){    
    .grid-image-3{
        height: 30rem;
    }
    
    .grid-image-2{
        height: 50rem;
    }
}

.magnify-button{
    width: 2rem;
    height: 2rem;
    border-style: none;
    position: absolute;
    z-index: 2;
    color:#173935;
    background-color: rgb(255,255,255,.5);
    margin: .5rem 0 0 -2.5rem;
    transition: all .5s;
}

.magnify-button:hover{
    background-color: #173935;
    color: white;
}

.product-info{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem 0 0 0;
    font-size: .8rem;
}

.product-name{
    margin: 0;
    text-transform: capitalize;
    font-size: 1rem;
    color: #173935;
}

@media screen and (max-width: 428px){
    .product-info{
        padding: .5rem 0 0 0;
    }

    .product-name{
        font-size: .8rem;
    }
}

.product-price{
    font-size: 1rem;
    color: #E9A8A5;
    font-weight: bold;
}

@media screen and (min-width: 1921px){
    .product-info{
        padding: 2rem 0 0 0;
        font-size: 1.6rem;
    }
    
    .product-name{
        font-size: 2rem;
    }
}

.alter-total{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto 0 auto;
}

.add-to-cart{
    height: 2rem;
    width: 100%;
    display: static;
    font-family: 'Tajawal', 'sans serif';
    font-size: 1rem;
    border: none;
    background-color: #173935;
    color: white;
}

.add-to-cart:hover{
    background-color:#3D6347;
}

.add-to-cart:active{
    border: 2px solid #173935;
    color: #173935;
    background-color: white;
}

.alter-total button{
    width: 3rem;
    height: 2rem;
    border-style: none;
    color: #173935;
    font-weight: bold;
    padding: 0 0 .2rem 0;
    transition: all .5s;
}

.alter-total button:hover{
    background-color: #173935;
    color: white;
}

.quantity{
    font-size: 1rem;
    width: 8%;
    margin: auto .5rem auto .5rem;
    color: white;
}

@media screen and (min-width: 1921px){
    .add-to-cart{
        font-size: 2rem;
        margin: -2rem 0 1rem 0;
    }
    
    .alter-total button{
        width: 6rem;
        height: 4rem;
        padding: 0 0 .4rem 0;
    }
    
    .quantity{
        font-size: 2rem;
        margin: auto 1rem auto 1rem;
    }
}

.view-product-container{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.4);
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.exit-view{
    align-self: end;
    padding: 0;
    display: flex;
    background-color: rgb(0,0,0,0);
    border: none;
}

.exit-view i{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 0;
}

.view-product{
    width: 40rem;
    height: auto;
    background-color: white;
    margin: auto;
    display: flex;    
}

.view-product img{
    width: 50%;
    height: 24rem; 
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

.right-panel{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.right-panel .fa-x{
    justify-self: end;
    font-size: .8rem;
    height: 1rem;
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-product-info{
    width: 100%;
    padding: .5rem;
}

.view-product-name{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
    height: 2rem;
}

.view-product-reviews{
    display: flex;
    gap: .5rem;
}

.view-product-stars{
    padding: 0;
    display: flex;
}

.view-product-stars i{
    font-size: .8rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-product-reviews a{
    color: #173935;
    font-size: .8rem;
}

.view-product-price{
    font-size: 1.5rem;
    font-weight: bold;
}

.quantity-cart-container{
    display: flex;
    gap: 1rem;
    height: 2rem;
    padding: 0;
}

.qty{
    height: 100%;
    padding: .025rem 0 0 0;
}

.quantity-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #173935;
    width: 9rem;
    height: 2rem;
    padding: 0;
}

.quantity-container button{
    width: 2rem;
    height: 100%;
    border: none;
    padding: 0 0 .25rem 0;
}

.quantity-container p{
    align-self: center;
    margin: .025rem 0 0 0;

}

.quantity-container input::-webkit-inner-spin-button,
.quantity-container input::-webkit-outer-spin-button {
    display: block;
    opacity: 1;
    color: black;
}

.share-container{
    border-top: 1px solid #173935;
    margin: auto .5rem .5rem .5rem;
    padding: .5rem 0 0 0;
    height: auto;
}

.share-container p{
    margin: 0;
}

.share-social-media{
    display: flex;
    gap: .5rem;
}

.share-social-media i{
    color:  #173935;
}

.share-social-media i:hover{
    color: #3D6347;
}

/**********SHOP PAGE ENDS HERE**********/

/**********CART PAGE STARTS HERE**********/
.fa-asterisk{
    color: #C76750;
    font-size: .5rem;
}

.cart-page{
    gap: 5%;
    min-height: 45rem;
}

.cart-page h3{
    color: #173935;
    font-family: 'Gloock', serif;
    font-size: 2rem;
    border-bottom: 1px solid #173935;
    margin: 0;
    white-space: nowrap;
}

.cart-container{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.cart-table{
    width: 70%;
    padding: 1.5rem 0 0 0;
}

.cart-shopping-cart{
    font-size: 1.25rem;
}

.cart-table-headers{
    font-family: 'Tajawal', 'sans serif';
    padding: 1rem 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

@media screen and (max-width: 1024px){
    .cart-page h3{
        font-size: 1.5rem;
    }

    .cart-table-headers li{
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px){
    .cart-page{
        min-height: 20rem;
    }

    .cart-table{
        width: 100%;
        /*margin: 5% 0 0 0;*/
    }

    .cart-container{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 1921px){
    .fa-asterisk{
        font-size: 1rem;
    }
    
    .cart-page{
        min-height: 60rem;
        padding: 10% 5% 16rem 5%;
    }
    
    .cart-shopping-cart{
        font-size: 2.5rem;
    }
    
    .cart-table-header{
        padding: 1rem 1rem 1.5rem 2rem;
    }

    .column-names{
        height: 2rem;
    }
    
    .cart-table p{
        font-size: 1.6rem;
    }
}

.items-in-cart{
    width: 100%;
    min-height: 10rem;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.items-in-cart h4{
    color:#234843;
    margin: 0 0 -.5rem 0;
}

.cart-empty{
    line-height: 10rem;
    margin: 0;
    text-align: center;
    color: #234843 !important;
    background-color: white;
}

@media screen and (min-width: 1921px){
    .items-in-cart{
        min-height: 20rem;
        padding: 0 0 2rem 0;
        gap: 2rem;
    }
    
    .items-in-cart h4{
        margin: 0 0 -1rem 0;
    }

    .cart-empty{
        line-height: 20rem;
    }
}

.fa-x{
    position: relative;
    margin: 0;
    color: #173935;
}

.cart-product{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    transition: all.5s;
    background-color: white;
}

.cart-product-image{
    width: 25%;
    height: 100%;    
    object-fit: cover;
}

.cart-product-name{
    padding: 1rem 0 0 1rem;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 25%;
    color: #173935 !important;
}

.cart-unit-price{
    padding: 1rem 0 0 .5rem;
    width: 25%;
    color: #173935 !important;
}

.cart-quantity{
    padding: 1rem 0 0 .5rem;
    width: 20%;
    color: #173935 !important;
}

.delete-cart-item{
    height: 1rem;
    width: 1rem;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0);
    margin: 1rem;
}

@media screen and (max-width: 1024px){
    .delete-cart-item .fa-x{
        font-size: .8rem;
    }
    
    .cart-product{
        height: 6rem;
    }

    .cart-product p{
        font-size: .8rem;
    }
    
    .cart-product-image{
        width: 15%;
    }
}

@media screen and (min-width: 1921px){
    .cart-product{
        height: 10rem;
        padding: 1rem;
    }
    
    .cart-product-image{
        height: 8rem;
    }
    
    .cart-product-name{
        padding: 1rem 0 0 1rem;
    }
    
    .cart-unit-price{
        padding: 1rem 0 0 .5rem;
    }
    
    .cart-quantity{
        padding: 1rem 0 0 .5rem;
    }
}

.subtotal-checkout-container{
    background-color: rgb(233,168,165);
    min-width: 18rem;
    width: 30%;
    height: 20rem;
    padding: 1.5rem;
}
    
.subtotal-checkout-container p{
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

.order-summary-container{
    height: 85%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 0 0;
}

@media screen and (max-width: 1024px){
    .subtotal-checkout-container{
        min-width: 15rem;
    }

    .subtotal-checkout-container p{
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px){
    .subtotal-checkout-container{
        width: 100%;
        height: 15rem;
    }
        
}

@media screen and (min-width: 1921px){
    .subtotal-checkout-container{
        padding: 2rem;
    }
    
    .subtotal-checkout-container h3{
        font-size: 4rem;
    }
    
    .subtotal-checkout-container p{
        font-size: 1.6rem;
    }
}

/*
.checkout-link{
    width: 8rem !important;
    height: 2.5rem;
    transition: all .5s;
}

.checkout-link:hover{
    width: 10rem;
}*/

.checkout-button{
    width: 8rem;
    height: 2.5rem;
    transition: all .5s;
    border-style: none;
    color: #173935;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-family: 'Gloock', 'sans serif';
    font-size: 1rem;
    justify-self: end;
}

.checkout-button:hover{
    width: 10rem;
}

.checkout-button .nav-link-button{
    color: #173935;
}

.btn-disabled{
    opacity: 50%;
    pointer-events: none;
}

@media screen and (min-width: 1921px){
    .checkout-button{
        margin: 10rem 0 0 0;
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }
    
    .checkout-button:hover{
        width: 20rem;
    }
}
/**********CART PAGE STARTS HERE**********/

/**********CHECKOUT PAGE STARTS HERE**********/

.checkout-page{
    min-height: 60rem;
    padding: 8rem 12% 8rem 12%;
    gap: 5%;
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

@media screen and (max-width: 768px){
    .checkout-page{
        padding: 8rem 8% 8rem 8%;
    }
}

@media screen and (min-width: 1921px){
    .checkout-page{
        min-height: 120rem;
        padding: 16rem 15% 16rem 15%;
    }
}

.back-to-cart{
    color:#173935;
    background-color: #E9A8A5;
    border: none;
    padding: .5rem;
    width: 10rem;
    height: 4rem;
    transition: all .5s;
    font-size: 1rem;
}

.back-to-cart:hover{
    background-color: #E8908F;
}

@media screen and (max-width: 768px){
    .back-to-cart{
        width: 8rem;
        height: 3rem;
    }
}

@media screen and (min-width: 1921px){
    .back-to-cart{
        padding: 1rem;
        width: 20rem;
        height: 8rem;
        font-size: 2rem;
    }
}

.checkout-page h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 5% 0 0 0;
}

.checkout-form{
    padding: 1rem 0 0 0;
}

@media screen and (min-width: 1921px){
    .checkout-page h3{
        font-size: 4rem;
    }

    .checkout-form{
        padding: 2rem 0 0 0;
    }
}

.checkout-form input{
    border: 1px solid #E9A8A5;
}

.checkout-form input:focus{
    outline: none;
    border: 2px solid #E8908F;
}

input::-webkit-inner-spin-button {
    display: none;
}

.form-div{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;    
    border-bottom: 1px solid #173935;
}

.form-div h4{
    grid-column: 1/2;
    font-size: 1.5rem;
    padding: 0 1rem 0 0;
}

.form-div h6{
    grid-column: 1/2;
}

.name-container{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 428px){
    .form-div{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .name-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 1921px){
    .form-div{
        margin: 2rem 0 0 0;
        padding: 0 0 2rem 0;
    }
    
    .form-div h4{
        font-size: 3rem;
    }
    .name-container{
        gap: 2rem;
    }
}

.select-date-container{
    margin: 1rem 0 1rem 0;
}

.select-date:focus{
    border: 1px solid #E9A8A5 !important;
    font-family: 'Tajawal', 'sans serif';
}

::-webkit-datetime-edit{
    font-family: 'Tajawal', 'sans serif';
    color:#173935;
}

.input-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 1rem 0;
}

.input-item input{
    height: 2.5rem;
    padding: 0 .5rem 0 .5rem;
}

@media screen and (min-width: 1921px){
    .select-date-container{
        margin: 2rem 0 2rem 0;
    }
    
    .input-item{
        margin: 0 0 2rem 0;
    }

    .input-item input{
        height: 5rem;
    }
}

.form-button{
    margin: 1rem 0 0 0;
    height: 2rem;
    border-style: none;
    background-color: #3D6347;
    color: white;
}

@media screen and (min-width: 1921px){
    .form-button{
        margin: 2rem 0 0 0;
        height: 4rem;
    }    
}

.form-button:active{
    background-color: #173935;
}

.submit-code{
    min-width: 8rem;
    align-self: end;
}

.price-info{
    margin: 1rem 0 0 0;
}

.total{
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (min-width: 1921px){
    .price-info{
        margin: 2rem 0 0 0;
    }
    
    .total{
        font-size: 3rem;
    }  
}

.submit-button-div{
    display: flex;
    justify-content: center;
}

.submit-form{
    margin: 1rem auto 0 auto;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .submit-form{
        width: 10rem;
    }
}

@media screen and (min-width: 1921px){
    .submit-form{
        margin: 2rem auto 0 auto;
        font-size: 2rem;
    }
}

/**********CHECKOUT PAGE ENDS HERE**********/

/**********FOOTER STARTS HERE**********/
.footer{
    width: 100%;
    height: 22rem;
    background-color: #173935;
    padding: 0 15% 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    bottom: 0;
}

.footer-col{
    margin: 4rem 0 0 0;
    
}

.footer-list li{
    list-style-type: none;
    color: #E8908F;
    font-family: 'Tajawal', sans-serif;
}

.shop-hours{
    color: #E8908F; 
    text-align: center;   
}

.contact-information{
    padding: 0 0 0 40%;
}

.social-media-footer{
    min-width: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1.5rem;
}

.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5%;
    padding: 0 15% 0 15%;
}

.footer-link{
    color: #E8908F;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

.footer-link:hover{
    color: #E9A8A5;
}

.other-information{
    line-height: 2rem;
}

.copyright-statement{
    grid-column: 2/3;
    text-align: center;
    color: #E8908F;
    padding: 0;
    font-size: .75rem;
    font-family: 'Tajawal', sans-serif;
}


@media screen and (max-width: 428px){
    .footer{
        height: 30rem !important;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        bottom: 0;
    }
    
    .footer-col{
        margin: 4rem 0 0 0;        
    }
        
    .contact-information{
        padding: 0 0 0 40%;
    }
    
    .social-media-footer{
        width: 8rem;
        grid-row: 1;
        grid-column: 1/3;
        margin: 0 auto 0 auto;
    }
    
    .footer-1{
        grid-row: 2;
    }

    .footer-2{
        grid-row: 1;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5%;
        padding: 0 15% 0 15%;
    }

    .footer-3{
        grid-row: 2;
    }
    
    .copyright-statement{
        grid-row: 3;
        grid-column: 1/3;
    }
}

/*
@media screen and (max-width: 376px){
    .footer{
        width: 100%;
        height: 22rem;
        background-color: #173935;
        padding: 0 15% 0 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        bottom: 0;
    }
    
    .footer-col{
        margin: 4rem 0 0 0;        
    }
    
    .footer-list li{
        list-style-type: none;
        color: #E8908F;
        font-family: 'Tajawal', sans-serif;
    }
    
    .shop-hours{
        color: #E8908F; 
        text-align: center;   
    }
    
    .contact-information{
        padding: 0 0 0 40%;
    }
    
    .social-media-footer{
        grid-row: 1;
        grid-column: 1/3;
    }
    
    .footer-col-middle{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5%;
        padding: 0 15% 0 15%;
    }
    
    .footer-link{
        color: #E8908F;
        text-decoration: none;
        font-family: 'Tajawal', sans-serif;
    }
    
    .footer-link:hover{
        color: #E9A8A5;
    }
    
    .other-information{
        line-height: 2rem;
    }
    
    .copyright-statement{
        grid-column: 2/3;
        text-align: center;
        color: #E8908F;
        padding: 0;
        font-size: .75rem;
        font-family: 'Tajawal', sans-serif;
    }
    
}*/

@media screen and (max-width: 768px){
    .footer{
        padding: 0;
        height: 25rem;
    }
    .contact-information{
        padding: 0 0 0 20%;
    }  
}

@media screen and (min-width: 1921px){
    .footer{
        height: 44rem;
    }
    
    .footer-col{
        margin: 8rem 0 0 0;        
    }
    
    .social-media-footer{
        min-width: 16rem;
        max-width: 20rem;
        font-size: 3rem;
    }
    
    .other-information{
        line-height: 4rem;
    }
    
    .copyright-statement{
        font-size: 1.5rem;
    }
}

/**********FOOTER PAGE ENDS HERE**********/

/**********ERROR PAGE STARTS HERE**********/
.error-page{
    height: 100%;
    width: 100%;
}

.error-background{
    width: 100%;
    position: fixed;
    z-index: -1;    
    filter: sepia(15%) contrast(90%) opacity(50%);
}

.error-page h3{
    text-align: center;
    padding: 30% 0 20% 0;
    font-family: 'Tajawal', 'sans serif';
    color: #234843;
}

@media screen and (min-width: 1921px){
}
/**********ERROR PAGE ENDS HERE**********/