/*
Color Schemes
Vintage Garden https://www.schemecolor.com/vintage-garden.php
Spring Garden https://www.schemecolor.com/spring-garden-color-palette.php
Downtown Flowers https://www.schemecolor.com/downtown-flowers.php
Red and Beige Tulip Flowers https://www.schemecolor.com/red-and-beige-tulip-flowers.php
Soft Pink Flowers https://www.schemecolor.com/soft-pink-flowers.php
Green to Pink https://www.schemecolor.com/green-to-pink.php
Green and Pink https://www.schemecolor.com/green-and-pink-color-scheme.php

font-family: 'Tajawal', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'Abril Fatface', cursive;
*/

body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden !important;
    /*background-color: gray;*/
}

html{
    overflow-x: hidden !important;
}

.home-background{
    width: auto;
    height: auto;
    object-fit: cover;
    position: fixed;
    z-index: -1;    
    filter: sepia(15%) contrast(90%) opacity(80%);
}

.page{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.font-extra-small{
    font-size: .8rem;
}

.font-small{
    font-size: 1rem;
}

p{
    font-family: 'Tajawal', sans-serif;
    color: #234843;
}

@media screen and (min-width: 1921px){
    .font-extra-small{
        font-size: 1.6rem;
    }

    .font-small{
        font-size: 2rem;
    }

    p{
        font-size: 2rem;
    }
}

.hide{
    display: none !important;
}

/*NAVBAR STARTS HERE*/
.navbar-menu{
    z-index: 4;
    width: 100%;
    height: 4rem;
    background-color: #E9A8A5;
    position: fixed;
    display: none;
    justify-content: flex-end;
}

.navbar-link{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: '#173935';
    text-decoration: 'none';
    text-align: 'center';
    font-family: 'Tajawal, sans-serif';
    min-width: 5rem;
}

.cart-nav-button{
    word-spacing: 10px;
    white-space: nowrap;
}

.navbar-icon{
    margin: 0 4px 0 -2px;
}

@media screen and (min-width: 429px){
    .navbar-menu{
        display: flex;
    }
}

@media screen and (min-width: 1921px){
    .navbar-menu{
        height: 8rem;
    }

    .navbar-link{
        font-size: 2rem;
    }
}
/*NAVBAR ENDS HERE*/

.container{
    width: 100%;
    min-height: 100rem;
    height: auto;
    padding: 5rem 0 0 0;
    margin: 0 0 0 0;
}

/*HAMBURGER MENU STARTS HERE*/
.hamburger-menu{
    z-index: 4;
    margin: 0 0 -4rem 0;
}

.show-hamburger-menu-container{
    position: fixed;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: end;
}

.hamburger-menu-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #E9A8A5;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.hamburger-button{
    width: auto;
    height: auto;
    border: none;
    align-self: flex-end;
    background-color: rgb(0,0,0,0);
    color: white;
    padding: 2.5% 2.5% 0 0;
}

.menu-icon{
    font-size: 2.5rem;
    margin: 0;
}

.hamburger-menu-items{
    align-self: center;
    justify-self: center;
    margin: 30% 0 auto 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hamburger-link{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media screen and (max-width: 376px){
    .hamburger-link{
        height: 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 429px){
    .hamburger-menu{
        display: none;
    }
}

.menu-fade-in{
    animation: fadeIn .25s;
    -webkit-animation: fadeIn .25s;
    -moz-animation: fadeIn .25s;
    -o-animation: fadeIn .25s;
    -ms-animation: fadeIn .25s;
}

@keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-webkit-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-moz-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-o-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-ms-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}

.menu-fade-out{
    animation: fadeOut .25s;
    -webkit-animation: fadeOut .25s;
    -moz-animation: fadeOut .25s;
    -o-animation: fadeOut .25s;
    -ms-animation: fadeOut .25s;
}

@keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-webkit-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-moz-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-o-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}
 
@-ms-keyframes fadeOut {
    0% {
  opacity: 1;
  }
    100% {
  opacity: 0;
  }
}

/*HAMBURGER MENU ENDS HERE*/

/**********HOME PAGE STARTS HERE**********/
/*HERO SECTION STARTS HERE*/
.hero-container{
    width: 100%;
    height: 30rem;
    display: flex;
    margin: 4rem auto 0 auto;
    filter: drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}

.hero-headline{
    width: 50%;
    height: 100%;
    background-color: #E9A8A5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
}

.logo{
    width: 4rem;
    height: 3rem;
    object-fit: cover;
    filter: invert(100%);
    margin: 0 0 0 2.5rem;
}

h1{
    text-align: left;
    font-size: 3.5rem;
    color: #234843;
    font-family: 'Gloock', 'serif';
}

h2{
    font-size: 1.5rem;
    font-family: 'Tajawal', sans-serif;
    color: #234843;
}

@media screen and (max-width: 376px){
    .logo{
        margin: 0 0 0 1rem;
    }
    h1{
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 768px){
    .hero-container{
        margin: 4rem auto 0 auto;
        min-height: 60rem;
        height: 100vh;
        flex-direction: column;
    }   

    .hero-headline{
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 1921px){
    .hero-container{
        height: 60rem;
        margin: 8rem auto 0 auto;
    }    

    .logo{
        width: 8rem;
        height: 6rem;
        margin: 0 0 0 5rem;
    }

    h1{
        font-size: 7rem;
    }

    h2{
        font-size: 3rem;
    }
}


.social-media-hero{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    gap: 5%;
}

.social-media-hero li{
    text-align: left;
    list-style-type: none;
    text-decoration: none;
}

.social-media-hero li a i{
    color: white;
}

.social-media-hero li a i:hover{
    text-decoration: none;
    color: #234843;
}

.hero-image-container{
    width: 50%;
    height: 30rem;
    object-fit: cover;
}

.hero-image{
    position: absolute;
    width: 50%;
    height: 30rem;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

@media screen and (max-width: 376px){
    h1{
        font-size: 2.75rem;
    }
}

@media screen and (max-width: 768px){
    .hero-image-container{
        width: 100%;
        height: 50%;
    }

    .hero-image{
        width: 100%;
        height: 50%;
    }
}

@media screen and (min-width: 1921px){
    .social-media-hero li a i{
        font-size: 2rem;
    }

    .hero-image-container{
        height: 60rem;
    }

    .hero-image{
        height: 60rem;
    }
}

.fade-in{
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-webkit-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-moz-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-o-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}
 
@-ms-keyframes fadeIn {
    0% {
  opacity: 0;
  }
    100% {
  opacity: 1;
  }
}

/*HERO SECTION ENDS HERE*/

/*BESTSELLERS STARTS HERE*/
.our-bestsellers{
    width: 100%;
    min-height: 40rem;
    height: auto;
    margin: 0;
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
    gap: 0;
}

.bestsellers-header{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0,0,0,.1);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    margin: 0 5% 0 5%;
}

.bestsellers-header h3{
    font-size: 3rem;
    font-family: 'Gloock', serif;
    color: white;
}

.bestsellers-text{
    color: white;
}

.bestsellers-header button{
    width: 8rem;
    transition: all .5s;
    height: 2.5rem;
    border-style: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#E8908F;
    font-family: 'Gloock', serif;
    filter: drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}

.bestsellers-header button:hover{
    width: 11rem;
    background-color:#E9A8A5;
}

.nav-link-button{
    text-decoration: none;
}

.bestsellers-text{
    max-width: 90%;
}

@media screen and (max-width: 768px){
    .our-bestsellers{
        width: 100%;
        min-height: 42rem;
        height: auto;
        margin: 0;
        padding: 2rem 0 1rem 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;        
        gap: 0;
    }

    .bestsellers-header{
        width: 80%;
        margin: 0 5% 0 5%;
    }

    .bestsellers-header h3{
        font-size: 2rem;
    }
}

@media screen and (min-width: 1921px){
    .our-bestsellers{
        min-height: 80rem;
        padding: 2rem 0 0 0;
    }

    .bestsellers-header{
        padding: 3rem;
    }

    .bestsellers-header h3{
        font-size: 6rem;
    }

    .bestsellers-header button{
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }

    .bestsellers-header button:hover{
        width: 22rem;
    }
}

.bestseller-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 15rem 15rem;
    margin: 0 0 0 5%;
}

.bestseller-card{
    background-color: silver;
    transition: all .2s linear;
    padding: 0;
}

.bestseller-card:hover{
    width: 95%;
    height: 95%;
}

.bestseller-1{
    width: 90%;
    height: 90%;
    grid-column: 1/3;
    grid-row: 1;
    justify-self: end;
}

.bestseller-2{
    width: 90%;
    height: 90%;
    grid-column: 3/4;
    grid-row: 1;
    justify-self: end;
}

.bestseller-2 .bestseller-card-image{
    object-position: 100% 90%;
}

.bestseller-3{
    width: 90%;
    height: 90%;
    grid-column: 1/2;
    grid-row: 2;
}

.bestseller-4{
    width: 90%;
    height: 90%;
    grid-column: 2/4;
    grid-row: 2;
}

.bestseller-card-image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
    font-family: 'Gloock', serif;
    filter: sepia(15%) contrast(90%) drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}

.bestseller-card-info{
    position: absolute;
    z-index: 2;
    margin: -2.25rem 0 0 .75rem; 
    background-color: rgb(255,255,255,.5);
    backdrop-filter: blur(10px);
    padding: .25rem 1rem .25rem .5rem;
    min-width: 5rem;
    width: auto;
    min-height: 1.5rem;
    display: flex;
    gap: .5rem;
}

.bestseller-card-info p{
    vertical-align: middle;
    font-family: 'Gloock', serif;
    color: #234843;
    font-size: 0.7rem;
    margin: 0;
}

.bestseller-2 .bestseller-card-info{
    margin: -3.25rem 0 0 .75rem; 
}

@media screen and (max-width: 428px){
    .bestseller-cards{
        width: 90% !important;
        display: grid;
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 12rem 12rem 12rem;
        margin: 1rem 0 0 0;
    }

    .bestseller-1{
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
    }
    
    .bestseller-2{
        grid-column: 1/2;
        grid-row: 2;
        justify-self: center;
    }
    
    .bestseller-3{
        grid-column: 2/3;
        grid-row: 2;
        justify-self: center;
    }
    
    .bestseller-4{
        grid-column: 1/3;
        grid-row: 3;
        justify-self: center;
        max-height: 12rem;
    }
}

@media screen and (max-width: 768px){
    .bestseller-cards{
        width: 75%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 12rem 12rem;
        margin: 1rem 0 0 0;
    }    
}

@media screen and (max-width: 1024px){
    .bestseller-card-info-2{
        flex-direction: column;
        gap: .25rem;
        min-width: 5rem;
        height: 3rem;
        padding: .4rem .5rem 0 .5rem;
        margin: -3.75rem 0 0 .75rem;
    }
}

@media screen and (min-width: 1921px){
    .bestseller-cards{
        grid-template-rows: 30rem 30rem;
    }

    .bestseller-card-info{
        margin: -6rem 0 0 2rem;
        padding: 1rem 0 1rem 0;
        min-width: 20rem;
        height: 4rem;
        gap: 2rem;
    }
}
/*BESTSELLERS ENDS HERE*/

/*CUSTOMER REVIEWS STARTS HERE*/
.customer-reviews{
    width: 100%;
    height: 50rem;
    background-color: #3D6347;
    padding: 4rem 0 0 0;
    margin: 0;
    filter: drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}

.customer-reviews h3{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0 0;
    font-family: 'Gloock', serif;
    color: #E9A8A5;
}

.review-p{
    text-align: center;
    margin: 2rem auto 0 auto;
    width: 75%;
    color: #E9A8A5;
}

@media screen and (max-width: 768px){
    .customer-reviews{
        width: 100%;
        height: auto;
        padding: 4rem 0 4rem 0;
    }

    .review-p{
        font-size: .8rem;
    }
}

@media screen and (min-width: 1921px){
    .customer-reviews{
        height: 100rem;
        padding: 8rem 0 0 0;
    }
    
    .customer-reviews h3{
        font-size: 6rem;
    }
    
    .review-p{
        font-size: 2rem;
        margin: 4rem auto 0 auto;
    }
}

.reviews-container{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin: 3rem 4% auto 4%;
}

.review-card{
    width: 100%;
    height: 30rem;
    padding: 0;
    background-color: #E9A8A5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card-image{
    object-fit: cover;
    width: 100%;
    height: 50%;
    filter: sepia(15%) contrast(90%);
}

.review-content{
    height: 80%;
    width: 100%;
    padding: 1rem 0.5 1rem 0.5;
    display: flex;
    flex-direction: column;
}

.review-stars{
    color: white;
    margin: 1rem 2rem 0 2rem;
}

.review-text{
    color: white;
    margin: .5rem 2rem 0 2rem;
}

.review-attribution{
    margin: 0 2rem 0 2rem;
    height: 3rem;

}

.review-name{
    margin: .5rem 0 0 0;
}

@media screen and (max-width: 376px){
    .reviews-container{
        margin: 3rem 0 auto 0 !important;
    }
}

@media screen and (max-width: 768px){
    .reviews-container{
        flex-direction: column;
        gap: 2rem;
        margin: 3rem 10% auto 10%;
    }
    
    .review-card{
        height: 30rem;
        width: 80%;
        margin: auto;
    }
    
    .review-card-image{
        height: 50%;
    }    
}

@media screen and (min-width: 1921px){
    .reviews-container{
        margin: 6rem 4% auto 4%;
    }

    .review-card{
        height: 60rem;
    }
    
    .review-content{
        padding: 2rem 1rem 2rem 1rem;
    }
    
    .review-stars{
        margin: 2rem 4rem 0 4rem;
    }
    
    .review-text{
        height: 12rem;
        margin: 0 4rem 0 4rem;
    }
    
    .review-attribution{
        margin: 0 4rem 0 4rem;
    }
}

.review-name{
    color: white;
    font-weight: bold;
}

.review-source-icon{
    display: static;
    color: white;
}

.review-source{
    display: static;
    color: white;
}
/*CUSTOMER REVIEWS ENDS HERE*/

/*ABOUT STARTS HERE*/
.about{
    width: 80%;
    height: 30rem;
    background-color: rgb(0,0,0,.15);
    backdrop-filter: blur(10px);
    margin: 5% auto 5% auto;
    display: grid;
    grid-template-columns: auto 25rem;
    grid-template-rows: 100%;
    filter: drop-shadow(2px 2px 8px rgb(0,0,0,.4));
}
  
.about-text{
    grid-column: 1/2;
    grid-row: 1;
    margin: 20% 15% 0 10%;
}

.about-text p{    
    color: white;
}

.about-text h3{
    font-size: 3rem;
    font-family: 'Gloock', serif;
    color: white !important;
}

@media screen and (max-width: 768px){
    .about{
        display: flex;
        flex-direction: column;
        height: auto !important;
    }

    .about-text{
        margin: 10%;
        padding: 0 0 5% 0;
    }

    .about-text h3{
        font-size: 2rem;
    }   
}

@media screen and (max-width: 1024px){
    .about{
        grid-template-columns: auto 20rem;
        height: 25rem;
    }

    .about-text{
        margin: 10% 15% 0 10%;
    }
}

@media screen and (min-width: 1921px){
    .about{
        height: 60rem;
        grid-template-columns: auto 50rem;
    }
    
    .about-text h3{
        font-size: 6rem;
    }
}

.about-image{
    grid-column: 2/3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
} 

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

@media screen and (max-width: 768px){
    .about-image{
        height: 40rem;
    }

    .about-image img{
        height: 40rem;
    }
}

@media screen and (max-width: 428px){
    .about-image{
        height: 20rem;
    }

    .about-image img{
        height: 20rem;
    }
}

/*ABOUT ENDS HERE*/
/**********HOME PAGE ENDS HERE**********/

/**********SHOP PAGE STARTS HERE**********/
.shop-page{
    min-height: 60rem;
    padding: 0 0 5rem 0;
    overflow-x: none;
    margin: 0;
}

.shop-header{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow-x: none;
}

.shop-header-background{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin: 4rem 0 0 0;
    filter: sepia(15%) contrast(90%);
    /*transform: scaleX(-1);*/
    position: absolute;
    z-index: -1;
    object-position: 0% 80%;
}


@media screen and (min-width: 1921px){
    .shop-page{
        min-height: 120rem;
        padding: 0 0 10rem 0;
    }
    
    .shop-header{
        height: 30rem;
    }
    
    .shop-header-background{
        height: 30rem;
        margin: 8rem 0 0 0;
    }
}

.cart-counter-container{
    width: 100%;
    height: 0px;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    margin: 80vh 0 0 0;
}

.cart-counter{
    position: fixed;
    z-index: 3;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-family: 'Tajawal', 'sans serif';
    margin: 0 5% 0 0;
    padding: 0 auto 0 auto;
    background-color: #E9A8A5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: .5rem;
}

.cart-counter p{
    margin: 0;
}

.shop-shopping-cart{
    font-size: .9rem;
    color:#173935;
}

.clear-cart-button{
    padding: 0;
    margin: 0;
    width: 5rem;
    height: 1.5rem;
    border: 1px solid white;
    color: #173935;
    font-size: .8rem;
    background-color: rgb(255,255,255, 0.15);
    font-family: 'Tajawal', 'sans serif';
    border-radius: 1rem;
}

.clear-cart-button:hover{    
    background-color: rgb(255,255,255, .4);
}

@media screen and (max-width: 428px){
    .cart-counter-container{
        margin: 90vh 0 0 0;
    }

    .cart-counter{
        width: 10rem;
        height: 2.5rem;
        font-size: .8rem;
        gap: .5rem;
    }
    
    .clear-cart-button{
        width: 4rem;
        height: 1.25rem;
        font-size: .7rem;
    }
}

@media screen and (min-width: 1921px){    
    .cart-counter{
        width: 28rem;
        height: 6rem;
        font-size: 2rem;
        border-radius: 4rem;
        gap: 2rem;
    }
    
    .shop-shopping-cart{
        font-size: 1.8rem;
    }
    
    .clear-cart-button{
        width: 10rem;
        height: 3rem;
        font-size: 1.6rem;
        border-radius: 2rem;
    }
}

.shop-header-container{
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0;
    margin: 8rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-header-container h1{
    text-align: center;
    font-family: 'Gloock', 'serif';
    font-size: 3rem;
}

.shop-header-logo-h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin: 0rem 0 0 0;
}

.shop-logo{
    height: 2rem;
    width: 3rem;
    margin: 0 auto 0 auto;
    filter: invert(21%) sepia(41%) saturate(472%) hue-rotate(122deg) brightness(98%) contrast(91%);
}

.shop-header-container h2{
    font-family: 'Tajawal', 'sans serif';
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 428px){
    .shop-logo{
        height: 2rem;
        width: 3rem;
    }
    
    .shop-header-container h1{
        font-size: 2rem;
    }

    .shop-header-container h2{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1921px){
    .shop-header-container{
        padding: 2rem 0 2rem 0;
        margin: 16rem auto 0 auto;
    }
    
    .shop-header-container h1{
        font-size: 6rem;
    }

    .shop-logo{
        height: 4rem;
        width: 6rem;
    }
    
    .shop-header-container h2{
        font-size: 4rem;
    }    
}

.shop-menu{
    padding: auto 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    margin: 3rem auto 0 auto;
    border: 1px solid #E9A8A5;
}

@media screen and (max-width: 768px){
    .shop-menu{
        width: 95%;
    }
}

.dropdown-toggle{
    height: 2.5rem;
    width: 10rem;
    padding: .5rem 0 0 1rem;
    display: flex;
    border-style: none;
    border-radius: 0%;
    background-color: #E9A8A5;
    font-family: 'Tajawal', sans-serif;
    font-size: 1rem;
    color: white;
    transition: all .5s;
}

.dropdown-toggle:hover{
    background-color: #E8908F;
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu{
    border-radius: 0%;
}

.dropdown-item{
    color:#173935;
    font-family: 'Tajawal', sans-serif;
    transition: all .5s;
}

.dropdown-item:hover{
    color: white;
    background-color: #173935;
}

.angle-down-div{
    margin: .1rem 0 0 0;
}

.fa-angle-down{
    margin: 0 0 0 .5rem;
    height: 1rem;
    font-size: .8rem;
}

@media screen and (min-width: 1921px){
    .shop-menu{
        margin: 6rem auto 0 auto;
    }

    .dropdown-toggle{
        height: 5rem;
        width: 20rem;
        padding: 1rem 0 0 2rem;
        font-size: 2rem;
    }

    .angle-down-div{
        margin: .1rem 0 0 0;
    }

    .fa-angle-down{
        margin: 0 0 0 1rem;
        height: 1rem;
        font-size: 1.6rem;
    }
}

.shop-menu-buttons{
    display: flex;
    align-items: center;
    margin: 0 .5rem 0 0;
}

.shop-menu-buttons button{
    border-style: none;
    padding: auto 0 auto 0;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,0,0);
}

.grid-button-1{
    display: static;
}

.grid-button-3{
    display: static;
}

@media screen and (min-width: 429px){
    .grid-button-1{
        display: none !important;
    }
}

@media screen and (max-width: 428px){
    .grid-button-3{
        display: none !important;
    }
}

.bi-square{
    width: 1.5rem ;
    height: 1.5rem;
    color: #E9A8A5;
    transition: all .5s;
}

.bi-square:hover{
    color: #E8908F;
}

.shop-grid-button{
    width: 1.5rem ;
    height: 1.5rem;
    color: #E9A8A5;
    transition: all .5s;
}

.shop-grid-button:hover{
    color: #E8908F;
}

@media screen and (min-width: 1921px){    
    .shop-menu-buttons{
        margin: 0 1rem 0 0;
    }

    .shop-grid-button{
        width: 3rem;
        height: 3rem;
    }
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 1rem auto auto auto;
    gap: 5%;
}

@media screen and (max-width: 428px){
    .products-container{
        padding: 5%;
        gap: 5%;
    }
}

@media screen and (max-width: 768px){
    .products-container{
        width: 95%;
    }
}

.product-card-container{
    height: 100%;
    margin: 0 0 2rem 0;
}

.product-card-container:hover{
    cursor: pointer;
}

@media screen and (max-width: 428px){
    .product-card-container{
        margin: 0 0 2% 0;
    }
}

@media screen and (min-width: 1921px){
    .products-container{
        margin: 2rem auto auto auto; 
    }
    
    .product-card-container{
        margin: 0 0 4rem 0;
    }
}

.grid3{    
    width: 30%;
    transition: all .5s;
}

.grid2{
    width: 47.5%;
    transition: all .5s;
}

.product-image{
    width: 100%;
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

.grid-image-3{
    height: 15rem;
}

.grid-image-2{
    height: 25rem;
}

@media screen and (max-width: 428px){
    .grid3{    
        /*width: 32.6666%;*/
        width: 80%;
        margin: 0 auto 2rem auto;
    }
    
    .grid2{
        width: 47.5%;
        margin: 0 0 2rem 0;
    }

    .grid-image-3{
        height: 20rem !important;
    }
}

@media screen and (max-width: 768px){    
    .grid-image-3{
        height: 10rem;
    }
    
    .grid-image-2{
        height: 15rem;
    }
}

@media screen and (min-width: 1921px){    
    .grid-image-3{
        height: 30rem;
    }
    
    .grid-image-2{
        height: 50rem;
    }
}

.magnify-button{
    width: 2rem;
    height: 2rem;
    border-style: none;
    position: absolute;
    z-index: 2;
    color:#173935;
    background-color: rgb(255,255,255,.5);
    margin: .5rem 0 0 -2.5rem;
    transition: all .5s;
}

.magnify-button:hover{
    background-color: #173935;
    color: white;
}

.product-info{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem 0 0 0;
    font-size: .8rem;
}

.product-name{
    margin: 0;
    text-transform: capitalize;
    font-size: 1rem;
    color: #173935;
}

@media screen and (max-width: 428px){
    .product-info{
        padding: .5rem 0 0 0;
    }

    .product-name{
        font-size: .8rem;
    }
}

.product-price{
    font-size: 1rem;
    color: #E9A8A5;
    font-weight: bold;
}

@media screen and (min-width: 1921px){
    .product-info{
        padding: 2rem 0 0 0;
        font-size: 1.6rem;
    }
    
    .product-name{
        font-size: 2rem;
    }
}

.alter-total{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto 0 auto;
}

.add-to-cart{
    height: 2rem;
    width: 100%;
    display: static;
    font-family: 'Tajawal', 'sans serif';
    font-size: 1rem;
    border: none;
    background-color: #173935;
    color: white;
}

.alter-total button{
    width: 3rem;
    height: 2rem;
    border-style: none;
    color: #173935;
    font-weight: bold;
    padding: 0 0 .2rem 0;
    transition: all .5s;
}

.alter-total button:hover{
    background-color: #173935;
    color: white;
}

.quantity{
    font-size: 1rem;
    width: 8%;
    margin: auto .5rem auto .5rem;
    color: white;
}

@media screen and (min-width: 1921px){
    .add-to-cart{
        font-size: 2rem;
        margin: -2rem 0 1rem 0;
    }
    
    .alter-total button{
        width: 6rem;
        height: 4rem;
        padding: 0 0 .4rem 0;
    }
    
    .quantity{
        font-size: 2rem;
        margin: auto 1rem auto 1rem;
    }
}

.view-product-container{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.4);
    position: fixed;
    top: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.exit-view{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: none;
    display: flex;
    background-color: rgb(0,0,0,0);
}

.exit-view i{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 0;
}

.view-product{
    width: 50rem;
    height: auto;
    background-color: white;
    margin: auto;
    display: flex;
}

.view-product img{   
    min-width: 20rem;
    max-width: 20rem;
    height: 24rem; 
    object-fit: cover;
    filter: sepia(15%) contrast(90%);
}

.view-product-info{
    width: 100%;
    padding: 1rem;
}

.view-product-name{
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
    height: 2rem;
}

.view-product-reviews{
    display: flex;
    gap: .5rem;
}

.view-product-stars i{
    font-size: .9rem;
}

.view-product-reviews a{
    color: #173935;
}

.view-product-price{
    font-size: 1.5rem;
    font-weight: bold;
}

.quantity-cart-container{
    display: flex;
    gap: 1rem;
    height: 2rem;
    padding: 0;
}

.qty{
    height: 100%;
    padding: .025rem 0 0 0;
}

.quantity-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #173935;
    width: 8rem;
    height: 2rem;
    padding: 0;
}

.quantity-container button{
    width: 2rem;
    height: 100%;
    border: none;
    padding: 0 0 .25rem 0;
}

.quantity-container p{
    align-self: center;
    margin: .025rem 0 0 0;

}

.quantity-container input::-webkit-inner-spin-button,
.quantity-container input::-webkit-outer-spin-button {
    display: block;
    opacity: 1;
    color: black;
}

/**********SHOP PAGE ENDS HERE**********/

/**********CART PAGE STARTS HERE**********/
.fa-asterisk{
    color: #C76750;
    font-size: .5rem;
}

.cart-page{
    min-height: 30rem;
    padding: 10% 5% 8rem 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.cart-container{
    width: 70%;
}

.cart-shopping-cart{
    font-size: 1.25rem;
}

.cart-table-header{
    font-family: 'Tajawal', 'sans serif';
    background-color: #E9A8A5;
    padding: .5rem .5rem .75rem 1rem;
    margin: 0;
}

@media screen and (max-width: 768px){
    .cart-page{
        min-height: 20rem;
        flex-direction: column-reverse;
    }

    .cart-container{
        width: 100%;
        margin: 5% 0 0 0;
    }
}

@media screen and (min-width: 1921px){
    .fa-asterisk{
        font-size: 1rem;
    }
    
    .cart-page{
        min-height: 60rem;
        padding: 10% 5% 16rem 5%;
    }
    
    .cart-shopping-cart{
        font-size: 2.5rem;
    }
    
    .cart-table-header{
        padding: 1rem 1rem 1.5rem 2rem;
    }
}

.column-names{
    display: flex;
    height: 1rem;
}

.column-names p{
    width: 25%;
    color: #173935 !important;
}

.cart-container p{
    font-family: 'Tajawal', 'sans serif';
    color:white;
    font-size: .8rem;
}

.column-name-product{
    width: 50% !important;
}

@media screen and (min-width: 1921px){
    .column-names{
        height: 2rem;
    }
    
    .cart-container p{
        font-size: 1.6rem;
    }
}

.items-in-cart{
    width: 100%;
    min-height: 10rem;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.items-in-cart h4{
    color:#234843;
    margin: 0 0 -.5rem 0;
}

.cart-empty{
    line-height: 10rem;
    margin: 0;
    text-align: center;
    color: #234843 !important;
    background-color: white;
}

@media screen and (min-width: 1921px){
    .items-in-cart{
        min-height: 20rem;
        padding: 0 0 2rem 0;
        gap: 2rem;
    }
    
    .items-in-cart h4{
        margin: 0 0 -1rem 0;
    }

    .cart-empty{
        line-height: 20rem;
    }
}

.fa-x{
    position: relative;
    margin: 0;
    color: #173935;
}

.cart-product{
    height: 10rem;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
    border: 1px solid #3D6347;
    transition: all.5s;
    background-color: white;
}

.cart-product-image{
    width: 25%;
    height: 8rem;    
    object-fit: cover;
}

.cart-product-name{
    padding: 1rem 0 0 1rem;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 25%;
    color: #173935 !important;
}

.cart-unit-price{
    padding: 1rem 0 0 .5em;
    width: 25%;
    color: #173935 !important;
}

.cart-quantity{
    padding: 1rem 0 0 .5rem;
    width: 20%;
    color: #173935 !important;
}

.cart-item-button{
    height: 1rem;
    width: 5%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0);
}

@media screen and (min-width: 1921px){
    .cart-product{
        height: 10rem;
        padding: 1rem;
    }
    
    .cart-product-image{
        height: 8rem;
    }
    
    .cart-product-name{
        padding: 1rem 0 0 1rem;
    }
    
    .cart-unit-price{
        padding: 1rem 0 0 .5rem;
    }
    
    .cart-quantity{
        padding: 1rem 0 0 .5rem;
    }
    
    .cart-item-button{
        height: 1rem;
    }    
}

.subtotal-checkout-container{
    background-color: #E9A8A5;
    width: 25%;
    height: 25%;
    padding: 1rem;
}

.subtotal-checkout-container h3{
    color: #173935;
    font-family: 'Gloock', serif;
    font-size: 2rem;
}

.cart-subtotal{
    font-family: 'Tajawal', 'sans serif';
    color: white;
}

.subtotal-checkout-container p{
    font-size: .8rem;
    color: white;
}

@media screen and (max-width: 768px){
    .subtotal-checkout-container{
        width: 100%;
        height: 15%;
    }
}

@media screen and (min-width: 1921px){
    .subtotal-checkout-container{
        padding: 2rem;
    }
    
    .subtotal-checkout-container h3{
        font-size: 4rem;
    }
    
    .subtotal-checkout-container p{
        font-size: 1.6rem;
    }
}

.checkout-button{
    margin: 5rem 0 0 0;
    width: 8rem;
    transition: all .5s;
    height: 2.5rem;
    border-style: none;
    color: #173935;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;;
    font-family: 'Tajawal', 'sans serif';
    font-size: 1rem;
}

.checkout-button:hover{
    width: 10rem;
}

@media screen and (min-width: 1921px){
    .checkout-button{
        margin: 10rem 0 0 0;
        width: 16rem;
        height: 5rem;
        font-size: 2rem;
    }
    
    .checkout-button:hover{
        width: 20rem;
    }
}
/**********CART PAGE STARTS HERE**********/

/**********CHECKOUT PAGE STARTS HERE**********/
/*
376
428
768
1921
*/

.checkout-page{
    min-height: 60rem;
    padding: 8rem 12% 8rem 12%;
    gap: 5%;
    font-family: 'Tajawal', 'sans serif';
    color: #173935;
}

@media screen and (max-width: 768px){
    .checkout-page{
        padding: 8rem 8% 8rem 8%;
    }
}

@media screen and (min-width: 1921px){
    .checkout-page{
        min-height: 120rem;
        padding: 16rem 15% 16rem 15%;
    }
}

.back-to-cart{
    color:#173935;
    background-color: #E9A8A5;
    border: none;
    padding: .5rem;
    width: 10rem;
    height: 4rem;
    transition: all .5s;
    font-size: 1rem;
}

.back-to-cart:hover{
    background-color: #E8908F;
}

@media screen and (max-width: 768px){
    .back-to-cart{
        width: 8rem;
        height: 3rem;
    }
}

@media screen and (min-width: 1921px){
    .back-to-cart{
        padding: 1rem;
        width: 20rem;
        height: 8rem;
        font-size: 2rem;
    }
}

.checkout-page h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 5% 0 0 0;
}

.checkout-form{
    padding: 1rem 0 0 0;
}

@media screen and (min-width: 1921px){
    .checkout-page h3{
        font-size: 4rem;
    }

    .checkout-form{
        padding: 2rem 0 0 0;
    }
}

.checkout-form input{
    border: 1px solid #E9A8A5;
}

.checkout-form input:focus{
    outline: none;
    border: 2px solid #E8908F;
}

input::-webkit-inner-spin-button {
    display: none;
}

.form-div{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem 0 0 0;
    padding: 0 0 1rem 0;    
    border-bottom: 1px solid #173935;
}

.form-div h4{
    grid-column: 1/2;
    font-size: 1.5rem;
    padding: 0 1rem 0 0;
}

.form-div h6{
    grid-column: 1/2;
}

.name-container{
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 428px){
    .form-div{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .name-container{
        flex-direction: column;
    }
}

@media screen and (min-width: 1921px){
    .form-div{
        margin: 2rem 0 0 0;
        padding: 0 0 2rem 0;
    }
    
    .form-div h4{
        font-size: 3rem;
    }
    .name-container{
        gap: 2rem;
    }
}

.select-date-container{
    margin: 1rem 0 1rem 0;
}

.select-date:focus{
    border: 1px solid #E9A8A5 !important;
    font-family: 'Tajawal', 'sans serif';
}

::-webkit-datetime-edit{
    font-family: 'Tajawal', 'sans serif';
    color:#173935;
}

.input-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 1rem 0;
}

.input-item input{
    height: 2.5rem;
}

@media screen and (min-width: 1921px){
    .select-date-container{
        margin: 2rem 0 2rem 0;
    }
    
    .input-item{
        margin: 0 0 2rem 0;
    }

    .input-item input{
        height: 5rem;
    }
}

.form-button{
    margin: 1rem 0 0 0;
    height: 2rem;
    border-style: none;
    background-color: #3D6347;
    color: white;
}

@media screen and (min-width: 1921px){
    .form-button{
        margin: 2rem 0 0 0;
        height: 4rem;
    }    
}

.form-button:active{
    background-color: #173935;
}

.submit-code{
    min-width: 8rem;
}

.price-info{
    margin: 1rem 0 0 0;
}

.total{
    font-weight: bold;
    font-size: 1.5rem;
}

@media screen and (min-width: 1921px){
    .price-info{
        margin: 2rem 0 0 0;
    }
    
    .total{
        font-size: 3rem;
    }  
}

.submit-button-div{
    display: flex;
    justify-content: center;
}

.submit-form{
    margin: 1rem auto 0 auto;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    .submit-form{
        width: 10rem;
    }
}

@media screen and (min-width: 1921px){
    .submit-form{
        margin: 2rem auto 0 auto;
        font-size: 2rem;
    }
}

/**********CHECKOUT PAGE ENDS HERE**********/

/**********FOOTER STARTS HERE**********/
.footer{
    width: 100%;
    height: 22rem;
    background-color: #173935;
    padding: 0 15% 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    bottom: 0;
}

.footer-col{
    margin: 4rem 0 0 0;
    
}

.footer-list li{
    list-style-type: none;
    color: #E8908F;
    font-family: 'Tajawal', sans-serif;
}

.shop-hours{
    color: #E8908F; 
    text-align: center;   
}

.contact-information{
    padding: 0 0 0 40%;
}

.social-media-footer{
    min-width: 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 1.5rem;
}

.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5%;
    padding: 0 15% 0 15%;
}

.footer-link{
    color: #E8908F;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}

.footer-link:hover{
    color: #E9A8A5;
}

.other-information{
    line-height: 2rem;
}

.copyright-statement{
    grid-column: 2/3;
    text-align: center;
    color: #E8908F;
    padding: 0;
    font-size: .75rem;
    font-family: 'Tajawal', sans-serif;
}


@media screen and (max-width: 428px){
    .footer{
        height: 30rem !important;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        bottom: 0;
    }
    
    .footer-col{
        margin: 4rem 0 0 0;        
    }
        
    .contact-information{
        padding: 0 0 0 40%;
    }
    
    .social-media-footer{
        width: 8rem;
        grid-row: 1;
        grid-column: 1/3;
        margin: 0 auto 0 auto;
    }
    
    .footer-1{
        grid-row: 2;
    }

    .footer-2{
        grid-row: 1;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5%;
        padding: 0 15% 0 15%;
    }

    .footer-3{
        grid-row: 2;
    }
    
    .copyright-statement{
        grid-row: 3;
        grid-column: 1/3;
    }
}

/*
@media screen and (max-width: 376px){
    .footer{
        width: 100%;
        height: 22rem;
        background-color: #173935;
        padding: 0 15% 0 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        bottom: 0;
    }
    
    .footer-col{
        margin: 4rem 0 0 0;        
    }
    
    .footer-list li{
        list-style-type: none;
        color: #E8908F;
        font-family: 'Tajawal', sans-serif;
    }
    
    .shop-hours{
        color: #E8908F; 
        text-align: center;   
    }
    
    .contact-information{
        padding: 0 0 0 40%;
    }
    
    .social-media-footer{
        grid-row: 1;
        grid-column: 1/3;
    }
    
    .footer-col-middle{
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 5%;
        padding: 0 15% 0 15%;
    }
    
    .footer-link{
        color: #E8908F;
        text-decoration: none;
        font-family: 'Tajawal', sans-serif;
    }
    
    .footer-link:hover{
        color: #E9A8A5;
    }
    
    .other-information{
        line-height: 2rem;
    }
    
    .copyright-statement{
        grid-column: 2/3;
        text-align: center;
        color: #E8908F;
        padding: 0;
        font-size: .75rem;
        font-family: 'Tajawal', sans-serif;
    }
    
}*/

@media screen and (max-width: 768px){
    .footer{
        padding: 0;
        height: 25rem;
    }
    .contact-information{
        padding: 0 0 0 20%;
    }  
}

@media screen and (min-width: 1921px){
    .footer{
        height: 44rem;
    }
    
    .footer-col{
        margin: 8rem 0 0 0;        
    }
    
    .social-media-footer{
        min-width: 16rem;
        max-width: 20rem;
        font-size: 3rem;
    }
    
    .other-information{
        line-height: 4rem;
    }
    
    .copyright-statement{
        font-size: 1.5rem;
    }
}

/**********FOOTER PAGE ENDS HERE**********/

/**********ERROR PAGE STARTS HERE**********/
.error-page{
    height: 100%;
    width: 100%;
}

.error-background{
    width: 100%;
    position: fixed;
    z-index: -1;    
    filter: sepia(15%) contrast(90%) opacity(50%);
}

.error-page h3{
    text-align: center;
    padding: 30% 0 20% 0;
    font-family: 'Tajawal', 'sans serif';
    color: #234843;
}

@media screen and (min-width: 1921px){
}
/**********ERROR PAGE ENDS HERE**********/